<div class='quotation_item'>

    <div class='errors'></div>

    <div class="table_container">
        <table class='hover_table top_align_table'>
            <thead>
                <tr>
                    <th scope="col" class="col_text">Description</th>
                    <th scope="col" class="col_number" title="Prix Hors Taxes"><span class="screen-reader-text">Prix</span> H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span></th>
                    <th scope="col" class='col_number tva' title="Montant de la TVA">TVA</th>
                    <th scope="col" class="col_number" title="Prix Toutes Taxes Comprises"><span class="screen-reader-text">Prix</span> T<span class="screen-reader-text">outes </span>T<span class="screen-reader-text">axes </span>C<span class='screen-reader-text'>omprises</span></th>
                    <th scope="col" class="col_percentage_graphic" title="Facturation">
                        Facturation
                    </th>
                </tr>
            </thead>
            <tbody class='quotation_item_title'>
                <tr class='row'>
                    <td class='col_text'>
                        <h3>
                            {{#if title }}
                            {{title}}
                            {{else}}
                            <small><em>Aucun titre n’a été saisi</em></small>
                            {{/if}}
                        </h3>
                        <p>
                            {{#if description}}
                            {{{description}}}
                            {{else}}
                            <small><em>Aucune description n’a été saisie</em></small>
                            {{/if}}
                        </p>
                    </td>

                    <td class='col_number'>{{{ ht_to_invoice_label }}}</td>
                    <td class='col_number'>{{{ tva_to_invoice_label }}}</td>
                    <td class='col_number'>{{{ ttc_to_invoice_label }}}</td>
                    <td class='col_percentage_graphic'>
                        {{#if show_percent_widget}}
                        <div class="group-slider-container"></div>
                        {{/if}}
                        {{#if not_editable}}
                        <em>Les produits ont été facturés séparément par le passé.
                        </em>
                        {{/if}}
                        {{#if show_edit_button}}
                        <div class="layout flex">
                        	<em>Les produits ont des pourcentages à facturer différents. Cliquez ici pour les uniformiser.</em>
                        	<button type='button' class='btn icon only groupedit vertical_align_center' aria-label="Modifier ce produit composé" title="Modifier ce produit composé" tabindex='-1'>
    	                        <svg><use href="/static/icons/endi.svg#pen"></use></svg>
	                        </button>
                        </div>
                        {{/if}}
                    </td>

                </tr>
            </tbody>
            <tbody class='lines'></tbody>
            <tbody class='subtotal'></tbody>
        </table>
    </div>

    <div class='modalregion'></div>

</div>
