<section id="task_group_form" class="modal_view size_middle">
    <div role="dialog" id="task_group-forms" aria-modal="true" aria-labelledby="task_group-forms_title">
        <div class="modal_layout">
            <header>
                <button class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre" onclick="toggleModal('task_group_form'); return false;">
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2 id="task_group-forms_title">{{ popup_title }}</h2>
            </header>
            <form class='form taskline-form'>
				<main>
					<div class='tab-content'>
						<div
							 role="tabpanel"
							 class="tab-pane fade in active"
							 id="form-container">
							<div class="alert alert-info">
								<p>
									Ce pourcentage sera appliqué à tous les produits du produit composé.
								</p>
							</div>
							<div class="table_container">
								<table class="top_align_table">
									<thead>
										<tr>
											<th scope="col" class="col_text">Produit composé</th>
											<th scope="col" class="col_number unity" title="Prix Unitaire Hors Taxes">P<span class="screen-reader-text">rix</span> H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span></th>
											<th scope="col" class="col_number tva" title="Taux de TVA"><span class="screen-reader-text">Taux de </span>TVA</th>
											<th scope="col" class="col_number" title="Prix Toutes Taxes Comprises">T<span class="screen-reader-text">outes </span>T<span class="screen-reader-text">axes </span>C<span class="screen-reader-text">omprises</span></th>
										</tr>
									</thead>
									<tbody class="quotation_item_title">
										<tr>
											<td class="col_text description">
												<h3>{{title}}</h3>
												<small>{{{description}}}</small>
											</td>
											<td class="col_number">
												{{{total_ht_to_invoice_label}}}
												{{#if deposit_info}}
												<small>Montant HT indiqué dans le devis moins la part d'acompte</small>
												{{/if}}
											</td>
											<td class="col_number">
												{{{tva_to_invoice_label}}}
											</td>
											<td class="col_number">
												{{{total_ttc_to_invoice_label}}}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							 <fieldset>
								<div class="layout flex three_cols">
									<div class='percent_done'></div>
									<div class='current_percent required'></div>
									<div class='percent_left'></div>
								</div>
							</fieldset>
						</div>
					</div>
				</main>
				<footer>
					<button
							class='btn btn-primary'
							type='submit'
							value='submit'>
						<svg>
							<use href="/static/icons/endi.svg#check"></use></svg>
						Valider
					</button>
					<button
							class='btn'
							type='reset'
							value='submit'>
						Annuler
					</button>
				</footer>
            </form>
        </div>
    </div>
</section>
