<div id="actions_toolbar" class="task-desktop-actions main_toolbar">
    <div class='toolbar'></div>
    <div class='errors'></div>
</div>
{{#if has_tasks}}
<div class='tasks separate_block border_left_block'></div>
{{/if}}
<div class='private'>
	<div class='common separate_block border_left_block'></div>
</div>

<div class='separate_block composite'>
    <div class='border_left_block'>
		<h2 class='title'>Liste des produits</h2>
    </div>
    <div class='products'></div>
    {{#if editable}}
    <div class='border_left_block'>
    	<div class='actions content_double_padding align_right'>
            <a class="btn"
               href="#addproduct"
               title="Ajouter un produit">
                <svg>
                    <use href="/static/icons/endi.svg#plus">   </use>
                </svg>Ajouter un produit
            </a>
            <a class="btn"
               href="#addwork"
               title="Ajouter un produit composé">
                <svg>
                    <use href="/static/icons/endi.svg#plus">   </use>
                </svg>Ajouter un produit composé
            </a>    	
    	</div>
    </div>
    {{/if}}
</div>

<div class='separate_block separate_block border_left_block'>
    <div class='discounts table_container'></div>
    {{#if editable}}
	<div class='actions content_double_padding align_right'>
		<a class="btn"
		   href="#adddiscount"
		   title="Ajouter une remise">
			<svg>
				<use href="/static/icons/endi.svg#plus">   </use>
			</svg>Ajouter une remise
		</a>
	</div>
    {{/if}}
</div>
