<h2 class='title'>
	<span class="icon status neutral" title="Ces informations internes n’apparaissent pas dans les documents finaux (Devis/Factures)">
		<svg><use href="/static/icons/endi.svg#eye-slash"></use></svg>
	</span>
	Informations générales 
	<small>N’apparaissent pas dans les documents finaux (Devis/Factures)</small>
</h2>
<div class='layout flex content'>
    <div class='field-name col-md-6'></div>
    <div class='field-notes col-md-6'></div>
</div>
