	<table class="hover_table">
        <caption class='screen-reader-text'>
            Liste des produits composants le produit composé
        </caption>
        <thead>
            <tr>
                <th scope="col" class="col_text">Description</th>
                <th scope="col" title="Coût unitaire Hors Taxe" class="col_number">
                    Coût unit<span class="screen-reader-text">aire</span>. HT
                </th>
                <th scope="col" title="Prix unitaire Hors Taxe" class="col_number">
                    Prix unit<span class="screen-reader-text">aire</span>. HT
                </th>
                <th scope="col" title="Quantité par unité de produit composé" class="col_number">
                    Q<span class="screen-reader-text">uanti</span>té par unité<span class="screen-reader-text"> de produit composé</span>
                </th>
                <th scope="col" class="col_number" title="Prix Hors Taxe">
                    <span class="screen-reader-text">Prix </span>HT par unité<span class="screen-reader-text"> de produit composé</span>
                </th>
                <th scope="col" title="Quantité">
                    Q<span class="screen-reader-text">uanti</span>té
                </th>
                <th scope="col" class="col_text">Unité</th>
                <th scope="col" class="col_text" title="Taux de TVA">
                    <span class="screen-reader-text">Taux de </span>TVA
                </th>
                <th scope="col" class="col_text" title="Type de produit">       <span class="screen-reader-text">Type de </span>Produit
                </th>
                <th scope="col" class="col_number" title="Prix Hors Taxe">      <span class="screen-reader-text">Prix </span>HT
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
