{{#if has_estimation}}
<div class="separate_bottom content_vertical_padding">
    <h4>
        Devis de référence :
        <a href='/estimations/{{this.estimation_id}}.html' class="icon" target="_blank">
            <svg><use href="/static/icons/endi.svg#file-alt"></use></svg>
            {{this.label}}
        </a>
    </h4>
</div>
{{/if}}