{{#if title}}
<h2>
    {{ title }}
    <button class='btn icon only unstyled edit' title="Modifier le titre de la feuille de statistiques" aria-label="Modifier le titre de la feuille de statistiques">
    <svg><use href="/static/icons/endi.svg#pen"></use></svg>
    </button>
</h2>
{{/if}}
<form class="form-inline"
{{#if title}}
    style='display:none'
{{/if}}
>
  <div class="form-group">
    <label class='control-label' for="title">Intitulé de la feuille de statistique</label>
    <input type="text" name='title' class="form-control" id="title" placeholder="Titre" value='{{title}}'>
  </div>
    <button class="btn btn-primary submit" type="submit">
    {{#if title}}
        Modifier
    {{ else }}
        Enregistrer
    {{/if}}
    </button>
</form>
