{{#if editable}}
    <div class='form-group date'>
    {{#if label}}
	{{#if required}}
<label for="{{tagId}}" class="required" aria-label="Champ obligatoire">
    {{else}}
<label for="{{tagId}}">
    {{/if}}
    {{label}}
    {{#if required}}
    <span class="icon required"><svg><use href="/static/icons/endi.svg#required"></use></svg><span> Obligatoire</span></span> 
    {{/if}}
</label>
{{/if}}
	    {{#if erasable}}
		<div class="erasable">
	    {{/if}}
	        <input id="{{tagId}}" aria-label="{{ariaLabel}}" class="form-control" name="altdate" type="text" autocomplete="off" />
	    {{#if erasable}}
			<button type='button' class="btn icon only unstyled erase" aria-label="Effacer le champ {{label}}" title="Effacer le champ {{label}}">
				<svg><use href="/static/icons/endi.svg#times"></use></svg>
			</button>
		</div>
	    {{/if}}
        <input class="form-control" name="{{ field_name }}" type="hidden" />
        {{#if description}}
        <span class='help-block'>{{ description }}</span>
        {{/if}}
    </div>
{{else}}
    <div class='form-group date'>
        <span class="label">Date</span>
        <span class='form-control data'>{{ date }}</span>
    </div>
{{/if}}
