{{#if label}}
	{{#if required}}
<label for="{{tagId}}" class="required" aria-label="Champ obligatoire">
    {{else}}
<label for="{{tagId}}">
    {{/if}}
    {{label}}
    {{#if required}}
    <span class="icon required"><svg><use href="/static/icons/endi.svg#required"></use></svg><span> Obligatoire</span></span> 
    {{/if}}
</label>
{{/if}}
<input
       id="{{tagId}}"
       class='form-control {{css_class}}'
       type='{{type}}'
       value='{{value}}'
       name="{{field_name}}"
       {{#unless editable}}disabled{{/unless}}
       aria-label='{{ariaLabel}}'
       placeholder="{{placeholder}}"
       {{#if dataList}}list="{{uniqueId}}"{{/if}}
       {{#unless editable}}disabled{{/unless}}
       ></input>

{{#if description}}
<span class='help-block'>{{description}}</span>
{{/if}}
{{#if editable}}
{{#if dataList }}
<datalist id="{{ uniqueId }}">
    {{#each dataList }}
    <option value="{{this}}">
        {{/each}}
</datalist>
{{/if}}
{{/if}}

{{#if dataList }}
<datalist id="{{ uniqueId }}">
    {{#each dataList }}
    <option value="{{this}}">
        {{/each}}
</datalist>
{{/if}}
