{{#if label}}<label for="{{tagId}}">{{label}}</label>{{/if}}
<div class="input_range_wrapper">
	<input
		class='form-control {{css_class}}'
		type='range'
		style="padding: 0"
		value='{{value}}'
		name="{{field_name}}"
		min="0" max="100" step="10"
        {{#unless editable}}disabled{{/unless}}
	></input>
	<div class="input_range_ticks">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="input_range_hint">
		<span>0 %</span>
		<span>50 %</span>
		<span>100 %</span>
	</div>
</div>
{{#if description}}
    <span class='help-block'>{{description}}</span>
{{/if}}
