<div class='form-group'>
    {{#if title}}
	{{#if required}}
<label for="{{tagId}}" class="required" aria-label="Champ obligatoire">
    {{else}}
<label for="{{tagId}}">
    {{/if}}
        {{title}}
        {{#if required}}
	    <span class="icon required"><svg><use href="/static/icons/endi.svg#required"></use></svg><span> Obligatoire</span></span> 
        {{/if}}
    </label>
    {{/if}}
    {{#if editable}}
    <div class='radio'>
        <label>
            <input
                   id="{{tagId}}"
                   type='radio'
                   name='{{ field_name }}'
                   value='{{value}}'
                   aria-label='{{ariaLabel}}'
                   {{#if checked}}checked{{/if}}
                   /> {{inline_label}}
        </label>
    </div>
    {{#if description}}
    <span class='help-block'>{{ description }}</span>
    {{/if}}
    {{else}}
    <div>{{label}}</div>
    {{/if}}
</div>
