{{#if editable }}
    {{#if title}}
	{{#if required}}
<label for="{{tagId}}" class="required" aria-label="Champ obligatoire">
    {{else}}
<label for="{{tagId}}">
    {{/if}}
        {{ title }}
        {{#if required}}
        <span class="icon required"><svg><use href="/static/icons/endi.svg#required"></use></svg><span> Obligatoire</span></span> 
{{/if}}
</label>
    {{/if}}
    <textarea
      name='{{field_name}}'
      id="{{tagId}}"
      class='form-control'
      rows='{{ rows }}'
      aria-label='{{ariaLabel}}'
      {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
    >{{ value }}</textarea>
{{else}}
    {{ value }}
{{/if}}
