<button
    class='{{ option.css }}'
    title="{{ option.title }}"
    {{#if option.onclick}}onclick="{{option.onclick}}"{{/if}}
    {{#if option.attrs}} {{ option.attrs }}{{/if}}>
    <svg><use href="/static/icons/endi.svg#{{ option.icon }}"></use></svg>
    {{ option.label}}
</button>
