    <div class='table_container limited_width width40'>
        <table class="opa hover_table">
            <thead>
            	<tr>
					<th scope="col" class="col_date">Date de début</th>
					<th scope="col" class="col_date">Date de fin</th>
					<th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
            	</tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            	<tr>
            		<td class="col_actions" colspan="3">
						<a href="javascript:void(0);" class='btn btn-primary add' title="Déclarer un congés" aria-label="Déclarer un congés">
							<svg><use href="/static/icons/endi.svg#plus"></use></svg>Ajouter
						</a>
            		</td>
            	</tr>
            </tfoot>
        </table>
    </div>
