// login page
@import './variables';

body.endi.login-view {
	.layout {
		height: 100vh;
	}
	.two_cols.third .login_form {
		padding: $unitPadding*8;
	}
	.login_form {
		box-shadow: 0 0 10px $midGrey;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: $actionLayer;
		.logos {
			flex: 1 0 auto;
			.flex {
				align-items: center;
				display: flex;
				justify-content: space-between;
			}
			.endi_logo {
				height: auto;
				max-height: 36px;
				max-width: 128px;
				width: auto;
			}
			.cae_logo {
				height: auto;
				max-height: 48px;
				max-width: 112px;
				width: auto;
			}
		}
		.loginbox {
			flex: 3 0 auto;
		}
		form {
			padding-bottom: 30px;
			input[type="text"],
			input[type="password"] {
				width: 100%;
			}
		}
		.login_footer {
			align-items: flex-end;
			display: flex;
			font-size: .75rem;
			justify-content: space-between;
			flex: 0 0 auto;
			p:first-child {
				margin-right: $unitPadding;
			}
			p:last-child {
				margin-left: $unitPadding;
				text-align: right;
			}
			a {
				text-decoration: none;
			}
			a:hover,
			a:focus,
			a:active {
				text-decoration: underline;
			}
		}
		footer {
			font-size: .75rem;
			padding: $unitPadding*2 0 0;
			text-align: center;
		}
	}
	.atwork_photo {
		background-color: $black;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		> p {
			background: $transWhite;
			bottom: 10px;
			font-size: .75rem;
			padding: $unitPadding $unitPadding*2;
			position: absolute;
			right: 10px;
			text-align: right;
			text-shadow: 0 0 1px $white;
			max-width: calc( 100% - 20px );
			&:hover {
				background: $transWhite;
			}
		}
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi.login-view {
		.layout.flex {
			max-width: 100vw;
		}
		.two_cols.third .login_form {
			padding: $unitPadding*8 0;
			> div {
				padding-left: $unitPadding*2;
				padding-right: $unitPadding*2;
			}
		}
		.login_form {
			box-shadow: none;
			form {
				padding-top: 40px;
			}
		}
	}
}
@media ( max-width: $tabletWidth ) and ( min-width: $mobileWidth ) {
	body.endi.login-view {
		.logos {
			left: $unitPadding*4;
			position: absolute;
			top: 50px;
			.flex {
				flex-direction: column;
			}
			.cae_logo {
				margin-top: $unitPadding*8;
			}
		}
		.login_form {
			form,
			.login_footer,
			footer {
				margin-left: 178px;
			}
			.login_footer {
				padding-top: 20px;
			}
		}
	}
}
@media ( max-width: $tabletWidth ) {
	body.endi.login-view {
		.layout {
			height: auto;
			min-height: 100vh;
		}
		.two_cols.third .login_form {
			padding: $unitPadding*8 $unitPadding*4;
			form {
				flex: 1 0 auto;
			}
		}
		.atwork_photo {
			min-height: 50vh;
		}
	}
}
