// tesks preview pages !!! not pdfs
@import '_variables';

body.endi {
	&[class*="preview-view"] {
		padding: 5px;
		.task_view {
			background-position: 50% 0;
			background-repeat: no-repeat;
			background-size: contain;
		}
		&[class*="estimations"] {
			.task_view {
				background-image: url( '../watermark_estimation.jpg')
			}
		}
		&[class*="invoices"] {
			.task_view {
				background-image: url( '../watermark_invoice.jpg')
			}
		}
	}
	.task_header {
		.full_banner {
			height: auto;
			max-width: 100%;
		}
		.pdf_logo {
			border: 0 none $white;
			width: auto;
			tr {
				background: none !important;
			}
			td {
				border: 0 none $white;
				text-align: left;
				vertical-align: middle;
				&.logo_cell {
					height: 140px;
					overflow: hidden;
					width: 140px;
				}
			}
			.logo_img {
				height: auto;
				width: 128px;
			}
		}
		.pdf_address_block {
			display: flex;
			justify-content: flex-end;
			> div {
				background: $transWhite;
				display: inline-block;
				margin-right: 3em;
				position: relative;
				width: 23em;
				padding: $unitPadding*6;
				.corner {
					border: 1px dotted $fadedGrey;
					height: 2em;
					display: block;
					position: absolute;
					width: 2em;
					&.bottom {
						border-top-width: 0;
						bottom: 0;
					}
					&.left {
						border-right-width: 0;
						left: 0;
					}
					&.right {
						border-left-width: 0;
						right: 0;
					}
					&.top {
						border-bottom-width: 0;
						top: 0;
					}
				}
			}
		}
	}
	.task_view {
		> div {
			margin: $unitPadding;
		}
		.pdf_information {
			font-size: .875em;
			h3 {
				font-size: 1.25rem;
				padding: $unitPadding 0;
			}
			.coop_header {
				background: $transWhite;
				border: 1px solid $fadedGrey;
				margin-top: $unitPadding;
				padding: $unitPadding;
			}
		}
		.pdf_mention_block {
			background: $transWhite;
			border: 1px solid $fadedGrey;
			margin: $unitPadding;
			h4 {
				background: $veryFadedGrey;
				color: $black;
				padding: $unitPadding;
			}
			p {
				font-size: .875rem;
				padding: $unitPadding;
			}
		}
		.payment_conditions {
			+ table {
				margin: -( $unitPadding ) $unitPadding $unitPadding;
				width: calc( 100% - 10px );
			}
		}
		.pdf_sign_block {
			display: flex;
			justify-content: flex-end;
			margin-bottom: $unitPadding*4;
			margin-top: $unitPadding*4;
			> div {
				border: 1px solid $fadedGrey;
				width: 18em;
				h4 {
					background: $veryFadedGrey;
					border-bottom: 1px solid $fadedGrey;
					padding: $unitPadding/2 $unitPadding*2;
				}
				p {
					padding: $unitPadding*2;
				}
				.date {
					border-bottom: 1px solid $fadedGrey;
				}
				.signature {
					height: 6em;
				}
			}
		}
		.pdf_task_table {
			margin-bottom: $unitPadding*4;
			margin-top: $unitPadding*2;
			+ .pdf_task_table {
				margin-top: -( $unitPadding*2 );
			}
			h1 {
				background: none;
				color: $black;
			}
		}
		.pdf_spacer {
			display: none;
		}
		table {
			border-collapse: collapse;
			border: 1px solid $fadedGrey;
			width: 100%;
			tbody,
			thead,
			tfoot {
				th, 
				td {
					background: $transWhite;
					border: 1px solid $fadedGrey;
					padding: 4px;
				}
				tr:nth-child(2n+1) {
					background: none !important;
				}
			} 
			.price,
			.price_total {
				width: 6em;
			}
			.price_total {
				background: $veryFadedGrey;
			}
			.unity {
				max-width: 7.5em;
			}			
			.quantity,
			.tva {
				width: 5em;
			}
		}
	}
	.pdf_footer {
		background: $veryFadedGrey;
		font-size: .75rem;
		margin: 0 ( -$unitPadding*2 );
		text-align: center;
		h4 {
			font-size: .75rem;
			padding-top: $unitPadding*2;
		}
		p:last-child {
			padding-bottom: $unitPadding*2;
		}
	}
	.pdf_page_number {
		font-size: .875rem;
		text-align: center;
	}
	.pdf_cgv {
		font-size: .75rem;
		padding: $unitPadding*4 $unitPadding;
		text-align: justify;
	}
}
body.endi.endi_popup {
	.pdf_footer {
		margin: $unitPadding 0;
	}
	.pdf_cgv {
		padding: $unitPadding*4 $unitPadding*2;
	}
}
@media ( max-width: $tabletWidth ) {
	body.endi .tab-content {
		.layout.two_cols {
			> * {
				width: 100%;
			}
			> div {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

body.endi.pdf_export {
	html{
	  font-size: $print_fontsize;
	}
// 	.header {
// 	  border-bottom: 0.01cm solid #cdcdcd;
// 	  width: 100%;
// 	  height: 20vw;  /* 1/5 ratio, as image baneers */
// 	}
// 
// 	.default-header .logo-col {
// 	  text-align: right;
// 	}
// 	.addressblock{
// 	  position:relative;
// 	  padding-left: 50%;  /* + margin 1cm */
// 	  width: 100%;
// 	  padding-top: 10px;
// 	  font-size: 14px;
// 	}
// 	.informationblock{
// 		-pdf-keep-with-next:false;
// 		padding-top:20px;
// 		padding-bottom:20px;
// 	}
// 	.lines{
// 	  thead tr th{
// 		background-color:#f6f6f6;
// 		font-size:12px;
// 	  }
// 	  thead tr.group-description{
// 		background-color:#fff;
// 	  }
// 	  .tva{
// 		width: 5%;
// 	  }
// 	  .quantity, .unity{
// 		width: 10%;
// 	  }
// 	  .price{
// 		width: 15%;
// 	  }
// 	}
// 	h3{
// 	  font-size: 24px;
// 	  font-weight: 500;
// 	}
// 	table thead tr.group-description td{
// 	  line-height: 1;
// 	  font-size: 9px;
// 	}
// 	.pdf_footer{
// 	  background-color:#efefef;
// 	  color:#000;
// 	  text-align:center;
// 	  padding:5px;
// 	  font-size: 9px;
// 	}
// 	.content{
// 	  font-size:9px;
// 	  padding:3px;
// 	  border: 0.01cm solid #cdcdcd;
// 	  padding-bottom:4px;
// 	  margin-bottom:12px;
// 	}
// 	.title{
// 	  padding:3px;
// 	  padding-top:3px;
// 	  background-color:#f6f6f6;
// 	  font-weight:bold;
// 	  font-size:11px;
// 	  border: 0.01cm solid #cdcdcd;
// 	  -pdf-keep-with-next:true;
// 	}
// }
// 
// .addressblock{
//   position:relative;
//   padding-left: 9.3cm;  /* + margin 1cm */
//   width: 9cm;
//   padding-top:1cm;
//   font-size: 0.3cm;
// }
// /* Task line and line groups */
// .lines{
//   border: 0.01cm solid #cdcdcd;
//   margin-bottom:33px;
//   thead tr{
//     background-color:#f6f6f6;
//     font-size:12px;
//   }
//   thead tr.group-description{
//     background-color:#fff;
//   }
//   h3{
//     font-size: 13px;
//     font-weight: 400;
//     padding: 4px 0px;
//   }
//   td, th{
//     padding: 2px;
//     vertical-align: middle;
//   }
//   .group-description td{
//     font-weight: normal;
//     text-align: left;
//     font-size: 11px;
//   }
//   .price{
//     text-align:right;
//     width:4cm;
//     background-color:#f6f6f6;
//   }
//   .tva{
//     text-align:right;
//     width: 2cm;
//     font-size: 9px;
//   }
//   .quantity{
//     text-align:center;
//     width: 3cm;
//   }
//   .unity{
//     text-align:center;
//     width: 4cm;
//   }
//   .rightalign{
//     text-align:right;
//     font-weight:bold;
//   }
}
