<%inherit file="${context['main_template'].uri}" />
<%namespace file="/base/utils.mako" import="table_btn"/>
<%namespace file="/base/utils.mako" import="company_list_badges"/>
<%namespace file="/base/utils.mako" import="login_disabled_msg"/>
<%namespace file="/base/pager.mako" import="pager"/>
<%namespace file="/base/pager.mako" import="sortable"/>
<%namespace file="/base/searchformlayout.mako" import="searchform"/>

<%block name='actionmenucontent'>
% if request.has_permission('add.userdatas') or request.has_permission('add_user') or request.has_permission('manage'):
	<div class='layout flex main_actions'>
		<div role='group'>
			% if request.has_permission('add.userdatas'):
				<a class='btn btn-primary' href="${request.route_path('/userdatas', _query=dict(action='add'))}">
					<svg><use href="${request.static_url('endi:static/icons/endi.svg')}#plus"></use></svg> Ajouter un porteur de projet
				</a>
			% endif
			% if request.has_permission('add_user'):
				<a class='btn' href="${request.route_path('/users/add/manager')}">
					<svg><use href="${request.static_url('endi:static/icons/endi.svg')}#plus"></use></svg> Ajouter un permanent
				</a>
			% endif
		</div>
		<div role='group'>
			% if request.has_permission('manage'):
				<a class='btn' title="Voir l'historique des connexions utilisateurs" href="${request.route_path('/users/connections')}">
					<svg><use href="${request.static_url('endi:static/icons/endi.svg')}#chart-line"></use></svg> Utilisateurs actifs
				</a>
			% endif
		</div>
	</div>
% endif
</%block>

<%block name='content'>

${searchform()}

<div>
    <div>
    	${records.item_count} Résultat(s)
    </div>
    <div class='table_container'>

		<table class="hover_table top_align_table">
			<thead>
				<tr>
					<th scope="col" class="col_text">${sortable("Nom", "name")}</th>
					<th scope="col" class="col_text">Enseigne</th>
					<th scope="col" class="col_text">Activité</th>
					<th scope="col" class="col_text">E-mail</th>
					<th scope="col" class="col_text phone">Téléphone</th>
					<th scope="col" class="col_text phone">Téléphone portable</th>
					<th scope="col" class="col_text">Code postal</th>
					% if request.has_permission('manage'):
						<th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
					% endif
				</tr>
			</thead>
			<tbody>
				% if records:
					% for id, user in records:
						% if user.companies or request.has_permission('manage'):
							<% url = request.route_path('/users/{id}', id=user.id) %>
							<tr>
								<td class="col_text">
									% if request.has_permission('view.user', user):
										<a href="${url}">
											${api.format_account(user)} 
											% if user.login is None:
												<small>
													<span class="icon">
														<svg class="caution"><use href="${request.static_url('endi:static/icons/endi.svg')}#exclamation-circle"></use></svg>
														Ce compte ne dispose pas d’identifiants
													</span>
												</small>
											% elif not user.login.active:
												<small>${login_disabled_msg()}</small>
											% endif
										</a>
									% else:
										${api.format_account(user)}
									% endif
								</td>
								<td class="col_text">
									% if user.companies:
										<ul class="list-unstyled">
											% for company in user.companies:
												<% company_url = request.route_path('company', id=company.id) %>
												<li>
													% if request.has_permission('view.company', company):
														<a href="${company_url}">
															${company.name}
															% if request.has_permission('admin_company', company):
																<small>${company_list_badges(company)}</small>
															% endif
														</a>
													% else:
														${company.name}
													% endif
												</li>
											% endfor
										</ul>
									% else:
										<em>Aucune enseigne</em>
									% endif
								</td>
								<td class="col_text">
									<ul class="list-unstyled">
										% for company in user.companies:
											% if company.goal and company.goal != "":
												<li>${company.goal}</li>
											% endif
										% endfor
									</ul>
								</td>
								<td class="col_text">
									<ul class="list-unstyled">
										% for company in user.companies:
											% if company.email and company.email != "":
												<li>${company.email}</li>
											% endif
										% endfor
									</ul>
								</td>
								<td class="col_text phone">
									<ul class="list-unstyled">
										% for company in user.companies:
											% if company.phone and company.phone != "":
												<li>${company.phone}</li>
											% endif
										% endfor
									</ul>
								</td>
								<td class="col_text phone">
									<ul class="list-unstyled">
										% for company in user.companies:
											% if company.mobile and company.mobile != "":
												<li>${company.mobile}</li>
											% endif
										% endfor
									</ul>
								</td>
								<td class="col_text">
									<ul class="list-unstyled">
										% for company in user.companies:
											% if company.zip_code and company.zip_code != "":
												<li>${company.zip_code}</li>
											% endif
										% endfor
									</ul>
								</td>
								% if request.has_permission('manage'):
									<td class='col_actions width_two'>
										<ul>
											<li>
												<a class='btn icon only' href='${url}' title='Voir le compte' aria-label='Voir le compte'>
													<svg><use href="${request.static_url('endi:static/icons/endi.svg')}#pen"></use></svg>
												</a>
											</li>
											% if request.has_permission('add.activity'):
												<% activity_url = request.route_path('activities', _query={'action': 'new', 'user_id': user.id}) %>
												<li>
													<a class='btn icon only' href='${activity_url}' title='Nouveau rendez-vous' aria-label='Nouveau rendez-vous'>
														<svg><use href="${request.static_url('endi:static/icons/endi.svg')}#calendar-plus"></use></svg>
													</a>
												</li>
											% endif
											</ul>
										</div>
									</td>
								% endif
							</tr>
						% endif
					% endfor
				% else:
					<tr>
						<td colspan='7' class="col_text"><center><em>Aucun utilisateur</em></center></td>
					</tr>
				% endif
			</tbody>
		</table>

	</div>
	${pager(records)}
</div>
</%block>
