<div class="row">
    <div class="layout flex two_cols">
        <div>
            <h4>Part paiement CAE ({{{ cae_percentage }}}%)</h4>
            <p class="important_number">
                <strong>
                    {{{ ttc_cae }}}&nbsp;TTC
                </strong>
            </p>
            {{# if totals_mismatch}}
                <p>
                    <span class="icon status caution">
		                <svg><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
                    </span>
                    Validé en commande : {{{ orders_ttc_cae }}}
                </p>
            {{/if}}
            <div class="cae-part-region"></div>
        </div>
        <div>
            <h4>Part paiement Entrepreneur  ({{{ worker_percentage }}}%)</h4>
            <p class="important_number">
                <strong>
                    {{{ ttc_worker }}}&nbsp;TTC
                </strong>
            </p>
            {{# if totals_mismatch}}
                <p>
                    <span class="icon status caution">
		                <svg><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
                    </span>
                    Validé en commande : {{{ orders_ttc_worker }}}
                </p>
            {{/if}}
        </div>
    </div>
</div>
