<div>
{{ totalRecords }} élément(s)
</div>
<table class='hover_table sortable-table'>
    <capion class='screen-reader-text'>Liste des produits du catalogue</capion>
    <thead>
        <th class='col_text'></th>
        <th class='col_text sortable desc' scope='col' data-sort='id'>
            <a href="#" aria-label="Trier par id (ordre croissant)" title="Trier par id (ordre croissant)" class="icon desc">
                <svg><use href="/static/icons/endi.svg#sort-desc"></use></svg>
       		    ID
        	</a>
        </th>
        <th class='col_text sortable' scope='col' data-sort='label'>
            <a href="#" aria-label="Trier par nom" class="icon">
                <svg><use href="/static/icons/endi.svg#sort-sort"></use></svg>
                Nom
            </a>
        </th>
        <th class='col_text' scope='col'>Référence</th>
        <th class='col_text sortable' scope='col' data-sort='supplier_id'>
            <a href="#" aria-label="Trier par fournisseur" class="icon">
                <svg><use href="/static/icons/endi.svg#sort-sort"></use></svg>
                Fournisseur
            </a>
        </th>
        <th class='col_text' scope='col'>Catégorie</th>
        <th class='col_number sortable' scope='col' data-sort='current_stock'>
            <a href="#" aria-label="Trier par stock" class="icon">
                <svg><use href="/static/icons/endi.svg#sort-sort"></use></svg>
                Stock
            </a>
        </th>
        <th class='col_number' scope='col'>Coût</th>
        <th class='col_number sortable' scope='col' data-sort='ht'>
            <a href="#" aria-label="Trier par ht" class="icon">
                <svg><use href="/static/icons/endi.svg#sort-sort"></use></svg>
                Prix de vente
            </a>
        </th>
        <th class='col_text' scope='col'>Unité</th>
        <th class='col_text' scope='col'>TVA</th>
        <th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="pager">
	{{#if hasPreviousPage }}
	<button class='navigation' data-event-type='firstpage' title="Première page" aria-label="Première page"><<</button>
	<button class='navigation' data-event-type='previouspage' title="Page précédente" aria-label="Page précédente"><</button>
	{{/if}}
	<span class="current" title="Page en cours" aria-label="Page en cours">{{ currentPage}}</span>
	{{#if hasNextPage }}
	<button class='navigation' data-event-type='nextpage' title="Page suivante" aria-label="Page suivante">></button>
	<button class='navigation' data-event-type='lastpage' title="Denière page ({{ totalPages }})" aria-label="Denière page ({{ totalPages }})">>></button>
	{{/if}}
</div>

