<td class="col_text">{{ description }}</td>
<td class="col_number">{{{ ht_label }}}</td>
<td class="col_number">{{{ tva_label }}}</td>
<td class="col_number">{{{ total }}}</td>
{{#edit}}
<td class='col_actions width_three'>
	<ul>
		<li>
            <button class='btn icon only edit' title='Modifier' aria-label='Modifier'>
                <svg><use href="/static/icons/endi.svg#pen"></use></svg>
            </button>
        </li>
		<li>
            <button class='btn icon only duplicate' title='Dupliquer' aria-label='Dupliquer'>
                <svg><use href="/static/icons/endi.svg#copy"></use></svg></button>
            </button>
        </li>
		<li>
            <button class='btn icon only negative delete'>
                <svg><use href="/static/icons/endi.svg#trash-alt"></use></svg>
            </button>
        </li>
    </ul>
</td>
{{/edit}}
