<div class="layout flex two_cols">
    <div>
        <h4 class="content_vertical_padding">Règlements</h4>
        <div class='totals form-section'>
            <div class="layout flex two_cols">
                <div>
                    <p>CAE :</p>
		        </div>
		        <div>
			        <p><strong>{{{ ttc_cae }}}</strong></p>
                </div>
            </div>
        </div>
        <div class='totals form-section'>
            <div class="layout flex two_cols">
                <div>
                    <p>Entrepreneur :</p>
		        </div>
		        <div>
			        <p><strong>{{{ ttc_worker }}}</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div>
    	<h4 class="content_vertical_padding">Totaux</h4>
        <div class='totals form-section'>
            <div class="layout flex two_cols">
                <div>
                    <p>Total HT :</p>
                </div>
                <div>
                    <p><strong>{{{ ht }}}</strong></p>
                </div>
            </div>
        </div>

        <div class='totals form-section'>
            <div class="layout flex two_cols">
                <div>
                    <p>Total TVA :</p>
                </div>
                <div>
                    <p><strong>{{{ tva }}}</strong></p>
                </div>
            </div>
        </div>

        <div class='totals form-section'>
            <div class="layout flex two_cols">
                <div>
                    <p>Total TTC :</p>
                </div>
                <div>
                    <p><strong>{{{ ttc }}}</strong></p>
                </div>
            </div>
        </div>

    </div>

</div>
