<section id="user_login_form" class="modal_view size_small">
    <div role="dialog" id="user_login-forms" aria-modal="true" aria-labelledby="user_login-forms_title">
        <form>
	        <div class="modal_layout">
                <header>
                    <button class="icon only unstyled close" title="Fermer cette fenĂŞtre" aria-label="Fermer cette fenĂŞtre" onclick="toggleModal('user_login_form'); return false;">
                        <svg><use href="/static/icons/endi.svg#times"></use></svg>
                    </button>
                    <h2 id="user_login-forms_title">Authentification</h2>
                </header>
                <main>
                    <div class='align_center'>
                        <span class="user_avatar">
                            <svg><use href="/static/icons/endi.svg#user"></use></svg>
                        </span> 
                    </div>
                    <div class="errors alert alert-danger" style="display:none;"></div>
                    <fieldset>
						<div class="form-group item-login item-login" title="" id="item-deformField1">
							<label for="deformField1" class="control-label required" id="req-deformField1" title="Champ obligatoire" aria-label="Champ obligatoire">
								Identifiant
								<span class="icon required"><svg><use href="/static/icons/endi.svg#required"></use></svg> obligatoire</span>
							</label>
							<input name="login" value="" id="deformField1" class=" form-control " type="text">
						</div>
						<div class="form-group item-password" title="" id="item-deformField2">
							<label for="deformField2" class="control-label required" id="req-deformField2" title="Champ obligatoire" aria-label="Champ obligatoire">
								Mot de passe
								<span class="icon required"><svg><use href="/static/icons/endi.svg#required"></use></svg> obligatoire</span>
							</label>
							<input name="password" value="" id="deformField2" class=" form-control " type="password">
						</div>
						<div class="form-group   item-remember_me" title="" id="item-deformField4">
							<div class="checkbox">
								<label for="deformField4">
									<input name="remember_me" value="true" id="deformField4" type="checkbox">
									Rester connecté
								</label>
							</div>
						</div>
                    </fieldset>
                </main>
                <footer>
                    <button class='btn btn-primary' type='submit'>Connexion</button>
                </footer>
	        </div>
        </form>
    </div>
</section>
