<section class="size_middle">
    <div role="dialog" id="product-forms" aria-modal="true" aria-labelledby="product-forms_title">
        <div class='modal_layout'>
            <header>
                <button class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre" >
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2 id="product-forms_title">{{ title }}</h2>
            </header>
            <main>
            <form class='form discount-form'>
                <div class='field-order'></div>
                <div class='field-type_'></div>
                <div class='field-description'></div>
                <div class='field-amount required'></div>
                <div class='field-percentage required'></div>
                <div class='field-tva_id required'></div>

                <button
                    class='btn btn-primary'
                    type='submit'
                    value='submit'>
                    {{ title }}
                </button>
                <button
                    class='btn'
                    type='reset'
                    value='submit'>
                    Annuler
                </button>
                </form>
            </main>
        </div>
    </div>
</section>
