<td class='col_text'>{{{description}}}</td>
<td class='col_number'>
    {{#if is_percentage}}
    {{ percentage }} %
    {{/if}}
</td>
<td class='col_number'>
    {{{ total_ht_label }}}
</td>
<td class='col_number'>
    {{#if is_percentage}}
    -
    {{else}}
        {{ tva_label }}
    {{/if}}
</td>
<td class='col_actions width_two'>
    <div class='edit'></div>
    <div class='delete'></div>
</td>