<div class='separate_block composite'>
	<div class='border_left_block'>
		<h2 class="title">Liste des produits</h2>
		<div class='display-options content_double_padding'>
			<div class='display-units-container'></div>
			<div class='display-ttc-container'></div>
		</div>
		<div class='group-errors'></div>
	</div>
	<div class='group-container'></div>
	<div class='group-modalregion'></div>
	<div class='border_left_block'>
	{{#if show_add_button}}
		<div class='actions content_double_padding align_right'>
			<button class='btn add' type='button'>
				<svg><use href="/static/icons/endi.svg#plus"></use></svg>
				Ajouter un produit composé
			</button>
		</div>
	{{/if}}
	</div>
</div>