<section id="task_line_form" class="modal_view size_large">
    <div role="dialog" id="task_line-forms" aria-modal="true" aria-labelledby="task_line-forms_title">
        <div class="modal_layout">
            <header>
                <button class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre" onclick="toggleModal('task_line_form'); return false;">
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2 id="task_line-forms_title">{{ title }}</h2>
            </header>
            <main>
            {{#if add}}
            <ul class="nav nav-tabs modal-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#form-container"
                        aria-controls="form-container"
                        role="tab"
                        data-toggle="tab"
                        tabindex='-1'
                        >
                        Saisie libre
                    </a>
                </li>
                <li role="presentation">
                    <a href="#catalog-container"
                        aria-controls="catalog-container"
                        role="tab"
                        tabindex='-1'
                        data-toggle="tab">
                        Depuis le catalogue
                    </a>
                </li>
            </ul>
            {{/if}}
            <div class='tab-content'>
                <div
                    role="tabpanel"
                    class="tab-pane fade in active"
                    id="form-container">
                    <form class='form taskline-form'>
                        <div class='order'></div>
                        <div class='description required'></div>
                        <div class='cost required'></div>
                        <div class='quantity required'></div>
                        <div class='unity'></div>
                        <div class='tva required'></div>
                        <div class='product_id'></div>
                        <button
                            class='btn btn-primary'
                            type='submit'
                            value='submit'>
                            {{ title }}
                        </button>
                        <button
                            class='btn'
                            type='reset'
                            value='submit'>
                            Annuler
                        </button>
                    </form>
                </div>
                {{#if add}}
                <div
                    role="tabpanel"
                    class="tab-pane"
                    id="catalog-container">
                </div>
                {{/if}}
            </div>
            </main>
<!-- 
            <footer>
            </footer>
 -->
        </div>
    </div>
</section>