// options, entities selection through a list of blocks

body.endi .entities_choice {
	padding: $unitPadding*4 0;
	ul {
		flex-wrap: wrap;
		list-style-type: none;
		margin-right: -$unitPadding*2;
		padding: $unitPadding*4 0;
		li a {
			display: block;
			height: 100%;
			text-decoration: none;
			&:hover,
			&:focus,
			&:active {
				box-shadow: 0 2px 4px $midGrey;
			}
			&::after {
				clear: right;
				content: "";
				display: block;
			}
			p {
				font-size: .875rem;
				padding: $unitPadding 0;
			}
		}
		li > span,
		li > label {
			display: block;
			line-height: 1;
			height: 100%;
			strong {
				display: inline-block;
				padding-bottom: $unitPadding;
			}
			span {
				display: block;
			}
		}
		li .thumbnail {
			background: $transWhite;
			float: right;
			height: 72px;
			padding: 4px;
			width: 72px;
			img {
				height: auto;
				max-height: 64px;
				max-width: 64px;
				width: auto;
			}
		}
	}
	&:not(.large_list) {
		.search_form {
			min-width: 200px;
			width: calc( 33.3333% - 10px );
		}
		li {
			margin: 0 $unitPadding*2 $unitPadding*2 0;
			min-width: 200px;
			width: calc( 33.3333% - 10px );
		}
		li a,
		li > span {
			background: $lightGreen;
			color: $black;
			padding: $unitPadding*2;
			h2 {
				margin-bottom: $unitPadding;
			}
			span {
				font-size: .875rem;
			}
		}
	}
// 	&.large_list {
// 		.search_form {
// 			min-width: 150px;
// 			width: 50%;
// 		}
// 		li {
// 			margin: 0 $unitPadding $unitPadding 0;
// 			min-width: 150px;
// 			width: calc( 25% - 10px );
// 		}
// 		li a {
// 			padding: $unitPadding;
// 			&:hover,
// 			&:focus,
// 			&:active {
// 				background: $lightGreen;
// 				color: $black;
// 			}
// 			h2 {
// 				font-size: 1rem;
// 			}
// 			p {
// 				color: $black;
// 				font-size: .75rem;
// 			}
// 		}
// 	}
}
body.endi h2.title + .entities_choice {
	ul {
		padding: 0;
	}
}
@media ( max-width: $desktopWidth ) {
	body.endi .entities_choice {
		li,
		.search_form {
			width: calc( 50% - 10px );
		}
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi .entities_choice,
	body.endi .entities_choice:not(.large_list) {
		ul {
			width: 100%;
		}
		li,
		.search_form {
			margin-right: 0;
			width: 100%;
		}
	}
// 	body.endi .entities_choice.large_list {
// 		.search_form {
// 			width: 100%;
// 		}
// 	}
}