// forms

/* range slider styling with vendor prefixes
*
* selector with vendor prefixes cannot be comma-sepparated.
* Results into repeating a lot.
* Those mixins target at reducing repetition.
*/
@mixin range-track($background, $border, $boxShadow, $height) {
	&::-moz-range-track {
		background: $background;
		border: $border;
		box-shadow: $boxShadow;
		height: $height;
	}
	&::-webkit-slider-runnable-track {
		background: $background;
		border: $border;
		box-shadow: $boxShadow;
		height: $height;
	}
	&::-ms-track {
		background: $background;
		border: $border;
		box-shadow: $boxShadow;
		cursor: pointer;
		height: $height;
	}
}
@mixin range-thumb($background, $border, $borderRadius, $boxShadow, $cursor, $dimension, $topMargin) {
	&::-moz-range-thumb {
		background: $background;
		border: $border;
		border-radius: $borderRadius;
		box-shadow: $boxShadow;
		cursor: $cursor;
		height: $dimension;
		width: $dimension;
	}
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		background: $background;
		border: $border;
		border-radius: $borderRadius;
		box-shadow: $boxShadow;
		cursor: $cursor;
		height: $dimension*1.5;
		margin-top: $topMargin;
		width: $dimension*1.5;
	}
	&::-ms-thumb {
		background: $background;
		border: $border;
		border-radius: $borderRadius;
		box-shadow: $boxShadow;
		cursor: $cursor;
		height: $dimension;
		width: $dimension;
	}
}

body.endi {
    form.btn-container {
      display: inline;
    }
	form {
		font-size: .875rem;
		> div {
			padding-bottom: 10px;
		}
// 		fieldset + fieldset {
// 			margin-top: $unitPadding*2;
// 		}
		legend,
		h2,
		h3,
		h4 {
// 			border-bottom: 1px solid $fadedGrey;
			font-weight: bold;
			padding: $unitPadding 0;
			width: 100%;
		}
		legend {
			font-size: 1.25rem;
			margin-bottom: $unitPadding;
		}
		.collapse_title,
		.title {
			color: $black;
			+ div {
				padding-top: $unitPadding*3;
			}
			~ div {
				padding: $unitPadding 0;
			}
		}
		.collapse_title {
			~ div {
				padding-left: $unitPadding*7;
				padding-right: $unitPadding;
			}
		}
		small {
			font-size: .875rem;
			font-weight: normal;
		}
	}
	fieldset > div,
	fieldset .flex > div {
		position: relative;
		&:not(:last-child) {
			padding-bottom: $unitPadding*4;
		}
// 		> small {
// 			display: block;
// 			padding-top: 5px;
// 		}
	}
	fieldset .flex > div {
		padding-right: $unitPadding*2;
		padding-bottom: $unitPadding*6;
// 		&.buttons_group {
// 			padding: 0 0 20px;
// 		}
	}
	fieldset > .flex {
		padding-bottom: 0;
	}
	fieldset .flex {
		flex-wrap: wrap;
		button {
			align-self: flex-start;
		}
	}
	fieldset .flex.editable {
		padding-right: $unitPadding*2;
		> div.content {
			max-width: calc( 100% - 40px );
			label {
				display: flex;
				padding: $unitPadding 0;
			}
			em {
				display: inline-block;
				padding-top: $unitPadding;
			}
		}
		> button {
			margin: 0;
		}
	}
// 	fieldset .flex.two_cols .collapsible {
// 		width: 100%;
// 	}
	.separate_block {
		.title {
			border-bottom: 1px solid $fadedGrey;
			font-weight: bold;
			padding: $unitPadding $unitPadding*2;
			width: 100%;
			+ .content {
				padding: $unitPadding;
			}
			&.with_action {
				align-items: center;
				border-top: 1px solid $fadedGrey;
				display: flex;
				justify-content: space-between;
				margin-top: $unitPadding*4;
			}
		}
		.content_vertical_padding:first-child .title.with_action {
			margin-top: $unitPadding*2;
		}
		em.empty {
			padding: 0 $unitPadding;
		}
		&.border_left_block {
			.title {
				padding-left: $unitPadding*2;
				padding-right: $unitPadding*2;
				~ div {
					padding: $unitPadding*2;
				}
			}
			h2.collapse_title {
				padding-left: $unitPadding*2;
				padding-right: $unitPadding*2;
				~ div {
					padding: 0 $unitPadding*2 0  $unitPadding*7;
				}
			}
		}
	}
	.border_left_block {
		&.error {
			border-left-color: $funcNegative !important;
			h2.collapse_title,
			h2.collapse_title > a,
			h2.collapse_title > button {
				color: $funcNegative !important;				
			}
			h2.collapse_title svg.arrow {
				fill: $funcNegative;
			}
		}
		&.success {
			border-left-color: $funcPositive !important;
			h2.collapse_title,
			.collapse_title > a,
			.collapse_title > button {
				color: $funcPositive !important;
			}
			.collapse_title svg.arrow {
				fill: $funcPositive;
			}
		}
	}
// 	fieldset {
// 		table.collapse_content {
// 			width: calc( 100% - 35px );
// 		}
// 	}
// 	.collapsible {
// 		legend.collapse_title,
// 		h2.collapse_title {
// 			button {
// 				border-bottom: 0 none;
// 				padding: 0;
// 			}
// 		}
// 		+ .collapsible {
// 			margin-top: $unitPadding*4;
// 		}
// 	}
	label,
	span.label {
		display: inline-block;
		svg {
			height: 1rem;
			vertical-align: text-top;
			width: 1rem;
		}
		&.required {
			.icon svg {
				fill: $funcNegative;
				height: .75rem;
				vertical-align: text-top;
				width: .75rem;
			}
			.icon.required {
				font-size: .75rem;
				font-weight: normal;
				span {
					background: $white;
					display: none;
					margin-left: .5em;
					position: absolute;
					z-index: $contentLayer;
				}
			}
			&:hover,
			&:focus {
				.icon.required span {
					display: inline;
				}
			}
		}
		span.req {
			background: $funcNegative;
			border-radius: 50%;
			color: $white;
			display: inline-block;
			font-size: 1rem;
			font-weight: normal;
			height: .825rem;
			line-height: 1.25rem;
			margin-left: .375rem;
			text-align: center;
			vertical-align: 0;
			width: .825rem;
		}
// 		&[title]::after {
// 			content: attr(title);
// 			font-size: .75rem;
// 			font-weight: normal;
// 			opacity: .25;
// 		}
// 		&[title]:hover,
// 		&[title]:focus {
// 			&::after {
// 				opacity: .75;
// 			}
// 		}
// 		strong {
// 			width: 12em;
// 		}
// 		&.child_option {
// 			margin-left: 2em;
// 		}
// 		button.icon {
// 			svg {
// 				margin-left: 0;
// 			}
// 		}
	}
	label[for],
	span.label {
		font-weight: bold;
		padding: 2px 0;
	}
	label:not([for]) {
		align-items: flex-start;
		display: flex;
		line-height: 1;
		padding: $unitPadding 0;
		input[type="checkbox"],
		input[type="radio"] {
			flex: 0 0 auto;
		}
	}
	.timeslot_attendee {
		label:first-child {
			padding: $unitPadding 0;
			width: 15em;
		}
		&:nth-child(2n) {
			background: $evenOddGrey;
		}
	}
// 	thead label:not([for]) {
// 		padding: $unitPadding*2 0 0;
// 	}
// 	tbody label:not([for]) {
// 		padding: 0;
// 	}
	input[type="text"],
	input[type="password"],
	input[type="number"],
	input[type="date"],
	input[type="search"],
	select,
	textarea {
		background: $white;
		border: $simpleLine solid $white;
		border-bottom-color: $black;
		border-radius: 0;
		box-shadow: none;
		font-size: .875rem;
		padding: $unitPadding*2 0;
		&:disabled {
			border-color: $fadedGrey;
			color: $midGrey;
			cursor: default;
		}
		&:invalid {
			border-bottom-color: $funcNegative;
			outline: 0 none;
		}
		&:not(:disabled):focus {
			box-shadow: 0 1px 0 $midFadedGrey, 0 2px 0 $fadedGrey, 0 3px 0 $veryFadedGrey;
			outline: none;
			border-left: 1px dotted $midFadedGrey;
			border-right: 1px dotted $midFadedGrey;
			border-top: 1px dotted $midFadedGrey;
		}
	}
	input[type="file"] {
		font-size: .875rem;
		padding: $unitPadding*2 0;
	}
	input[type="color"] {
		border: 1px solid $darkGrey;
		border-radius: 0;
		height: 1rem;
		width: 1rem;
	}
	input[type="text"],
	input[type="password"],
	input[type="number"],
	input[type="date"],
	input[type="search"],
	select {
		height: 2.5rem;
		line-height: 1.25rem;
	}
	select[multiple] {
		height: auto;
		option[selected] {
			background: $black;
			color: $white;
		}
	}
	input[type="number"],
	input[type="date"],
	input[type="text"].hasDatepicker {
		width: 9em;
	}
	input[type="text"].coef {
		width: 5em;
	}
	input[type="text"].price {
		width: 7em;
	}
	input[type="date"]::-webkit-inner-spin-button,
	input[type="date"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
// 	input[type="text"].with_unit,
// 	input[type="number"].with_unit {
// 		max-width: calc( 100% - 20px );
// 	}
	input[type="radio"],
	input[type="checkbox"] {
		height: 1.5rem;
		margin-right: .25rem;
		vertical-align: middle;
		width: 1.5rem;
	}
	select option {
		padding: 0;
	}
	select[multiple] option {
		padding: 2px 0;
	}
// 	input,
// 	input + .input-group-addon,
// 	select,
// 	textarea {
// 		+ label {
// 			margin-top: $unitPadding*6;
// 		}
// 	}
	textarea {
		line-height: 1rem;
// 		transition: height .25s ease-out;
// 		&.height1L {
// 			height: 2.5rem;
// 		}
// 		&.height2L {
// 			height: 3.75rem;
// 		}
// 		&.height3L {
// 			height: 5rem;
// 		}
// 		&.height4L {
// 			height: 6.25rem;
// 		}
// 		&.height5L {
// 			height: 7.5rem;
// 		}
// 		&.height6L {
// 			height: 8.75rem;
// 		}
	}
	a.btn,
	button {
		background: $white;
		border: 1px solid $lightGreen;
		border-radius: 0;
		color: $black;
		cursor: pointer;
		font-size: .875rem;
		font-weight: bold;
		padding: 8px $unitPadding*4;
		svg {
			font-size: 1rem;
			height: 1rem;
			pointer-events: none;
			vertical-align: sub;
			width: 1rem;
			title {
				display: none;
			}
		}
		+ a.btn,
		+ button,
		+ .btn-container {
			margin-left: $unitPadding;
		}
		&:not(.mini) svg {
			margin-left: -$unitPadding;
			margin-right: $unitPadding;
		}
		&:not(.mini) svg.last {
			margin-left: $unitPadding;
			margin-right: -$unitPadding;
		}
		&.small {
			font-size: .825rem;
			font-weight: normal;
			padding: $unitPadding;
		}
		&.icon {
			padding-left: $unitPadding*2;
			svg {
				margin: 0 $unitPadding;
			}
		}
		&.icon.only {
			display: inline-flex;
			padding: $unitPadding*2;
			svg {
				margin: 0;
			}
			&.close {
				border: 0 none;
				padding: $unitPadding*2;
			}
		}
		&.negative {
			border-color: $funcNegative;
			&.btn-primary {
				background: $funcNegative;
				color: $white;
				svg {
					fill: $white;
				}
				&:hover,
				&:focus,
				&:active {
					svg {
						fill: $white;
					}
				}
			}
		}
		&.btn-primary {
			background: $lightGreen;
		}
		&.mini {
			height: 1.25rem;
			width: 1.25rem;
			svg {
				height: 12px;
				margin: 4px;
				width: 12px;
			}
		}
		&.unstyled {
			background: none;
			border: 0 none;
			font-size: inherit;
			cursor: pointer;
			padding: 0;
			&:not(:disabled):hover,
			&:not(:disabled):focus,
			&:not(:disabled):active {
				box-shadow: none;
				color: $lightGreen;
				transform: none;
				svg {
					fill: $lightGreen;
					filter: drop-shadow(0 1px 0 $midFadedBlack);
				}
			}
			&.btn-primary:not(:disabled):hover,
			&.btn-primary:not(:disabled):focus,
			&.btn-primary:not(:disabled):active {
				svg {
					fill: $white;
				}
			}
			&.negative {
				svg {
					fill: $funcNegative;
				}
			}
		}
	}
	a.btn:link,
	a.btn:visited {
		color: $black;
		display: inline-block;
		text-decoration: none;
	}
	a.btn:disabled,
	a.btn.disabled,
	button:disabled,
	button.disabled {
		background-color: $veryFadedGrey;
		border-color: $veryFadedGrey;
		box-shadow: none !important;
		color: $midGrey;
		cursor: default;
		svg {
			fill: $midGrey;
		}
	}
	a.btn.btn-primary:disabled,
	a.btn.btn-primary.disabled,
	button.btn-primary:disabled,
	button.btn-primary.disabled {
		background-color: $midGrey;
		color: $white;
		svg {
			fill: $white;
		}
	}
	a.btn:not(:disabled):hover,
	a.btn:not(:disabled):focus,
	a.btn:not(:disabled):active,
	button:not(:disabled):hover,
	button:not(:disabled):focus,
	button:not(:disabled):active {
		box-shadow: 0 2px 4px $midGrey;
		transform: translateY(-1px);
		outline: none;
		svg {
			fill: $black;
		}
	}
	a.btn.disabled:hover,
	a.btn.disabled:focus,
	a.btn.disabled:active {
		transform: none;
	}
	.input_range_wrapper {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 2.5rem;
		input[type="range"] {
			flex: 1;
		}
	}
	input[type="range"] {
		-webkit-appearance: none;
		background: transparent;
		cursor: pointer;
		@include range-track(
			/* background: */ $white,
			/* border: */ 1px solid $fadedGrey,
			/* box-shadow: */ inset 0 0 2px $fadedGrey,
			/* height: */ $unitPadding
		);
		@include range-thumb(
			/* background: */ $lightGreen,
            /* border: */ 1px solid $lightGreen,
		    /* border-radius: */ 0,
			/* box-shadow: */ 0 0 2px $fadedGrey,
		    /* cursor: */ pointer,
			/* dimension: */ $unitPadding*2,
			/* margin-top: */ -6px
		);
	}
	input[type="range"]:focus {
		outline: none;
	}
	input[type='range']::-moz-focus-outer { 
		border: 0; 
	}
	input[type="range"]:hover::-moz-range-thumb {
		box-shadow: 0 2px 4px $midGrey;
	}
	input[type="range"]:hover::-webkit-slider-thumb {
		box-shadow: 0 2px 4px $midGrey;
	}
	input[type="range"]:hover::-ms-thumb {
		box-shadow: 0 2px 4px $midGrey;
	}
	.input_range_ticks {
		display: flex;
		width: calc( 100% - 10px );
		> span {
			display: inline-block;
			height: $unitPadding;
			border-left: 1px solid $midGrey;
			width: 10%;
			&:last-child {
				border-right: 1px solid $midGrey;
			}
		}
	}
	.input_range_hint {
		display: flex;
		justify-content: space-between;
		text-align: center;
		width: 100%;
		> span {
			font-size: .75rem;
			width: 33.3333%;
			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: right;
			}
		}
	}
	.billing_slider {
		position: relative;
		a {
			border: 1px solid $fadedGrey;
			color: $darkGrey;
			display: flex;
			font-size: .75rem;
			font-weight: normal;
			height: $unitPadding*4 + 2px;
			margin-bottom: $unitPadding*4;
			text-decoration: none;
			width: 100%;
			span.billing {
				display: block;
				height: $unitPadding*4;
				&.done {
					background: $veryLightGrey;
					.value {
						color: $darkGrey;
						left: 2px;
					}
				}
				&.todo {
					background: $lightGreen;
					.value {
						color: $black;
						font-size: .875rem;
						font-weight: bold;
						left: calc( 50% - .75rem );
					}
				}
				&.remain {
					background: $white;
					.value {
						color: $midGrey;
						right: 2px;
					}					
				}
				.value {
					line-height: 1.25rem;
					top: $unitPadding*5;
					position: absolute;
				}
			}
			&:hover, 
			&:focus,
			&:active {
				box-shadow: 0 2px 4px $midGrey;
			}
		}
	}
// 	.form_error {
// 		label {
// 			color: $funcNegative;
// 			svg {
// 				fill: $funcNegative;
// 			}
// 			&::after {
// 				opacity: .75;
// 			}
// 		}
// 		input[type="text"],
// 		input[type="password"],
// 		input[type="number"],
// 		input[type="date"],
// 		input[type="search"],
// 		select,
// 		textarea {
// 			border-bottom-color: $funcNegative;
// 			outline: 0 none;
// 		}
// 	}
// 	.form_hint {
// 		background: $white;
// 		border: 1px solid $fadedGrey;
// 		box-shadow: 0 2px 4px $midGrey;
// 		display: none;
// 		margin-left: $unitPadding*6;
// 		padding: $unitPadding;
// 		position: absolute;
// 		top: 1em;
// 		z-index: $floatingLayer;
// 		button.close {
// 			float: right;
// 		}
// 		.title {
// 			padding-top: $unitPadding;
// 			width: calc( 100% - 30px );
// 		}
// 		dl {
// 			dt:not(:first-child) {
// 				padding-top: .5em;
// 			}
// 			dd {
// 				margin-left: 1em;
// 			}
// 		}
// 	}
// 	label.show_hint ~ .form_hint {
// 		display: block;
// 	}
	.btn-group {
		.dropdown-menu {
			background: $white;
			box-shadow: 0 2px 4px $midGrey;
			display: none;
			flex-direction: column;
			list-style-type: none;
			max-width: 100vw;
			padding: 0;
			position: absolute;
			z-index: $floatingLayer;
			li {
				padding: 0;
				&:nth-child(n + 1) {
					border-top: 1px solid $veryFadedGrey;
				}
			}
			a,
			button {
				background: $white;
				border: 0 none;
				color: $black;
				display: block;
				font-weight: bold;
				text-align: left;
				padding: $unitPadding*2;
				text-decoration: none;
				white-space: nowrap;
				&:hover,
				&:focus,
				&:active {
					color: $lightGreen;
				}
				&.negative {
					background: $white;
					color: $funcNegative;
					svg {
						fill: $funcNegative;
					}
				}
				&.icon svg {
					margin-right: $unitPadding;
				}
			}
			button:not(:disabled):hover,
			button:not(:disabled):focus,
			button:not(:disabled):active {
				box-shadow: none;
				color: $lightGreen;
				transform: none;
				svg {
					fill: $lightGreen;
				}
			}
			button {
				width: 100%;
				&.icon svg {
					margin-left: 0;
				}
			}
		}
		&.open .dropdown-menu {
			display: flex;
		}
		.dropdown-menu-right {
			left: auto;
			right: 0;
		}
		ul {
			list-style-type: none;
			padding: 0;
			text-align: right;
			li {
				display: block;
				padding: 0;
			}
			.btn {
				margin: 2px 0;
				text-align: left;
				width: 100%;
			}
		}
	}
	.input-group {
		align-items: center;
		display: flex;
		.input-group-addon {
			display: inline-block;
			padding: 0 $unitPadding;
			&:first-child {
				border-right: 1px dotted $midFadedGrey;
			}
			&:last-child {
				border-left: 1px dotted $midFadedGrey;
			}
		}
	}
	.data {
		border-bottom: $simpleLine solid $veryFadedGrey;
		font-size: .875rem;
		display: block;
		min-height: 2.5rem;
		line-height: 1.25rem;
		padding: $unitPadding*2 0;
		&.flex {
			justify-content: space-between;
		}
	}
// 	form .entities_choice {
// 		padding: 0;
// 		li.options {
// 			display: flex;
// 			min-width: 400px;
// 			width: calc( 66.6666% - 10px );
// 			label + label span {
// 				border-left-width: 0;
// 			}
// 		}
// 		label {
// 			cursor: pointer;
// 			height: 100%;
// 			padding: 0;
// 			position: relative;
// 			width: 100%;
// 			> span {
// 				border: 1px solid $lightGreen;
// 				display: block;
// 				height: 100%;
// 				color: $black;
// 				padding: $unitPadding*2;
// 				width: 100%;
// 				strong {
// 					display: inline-block;
// 					padding: 0 0 $unitPadding $unitPadding*4;
// 					svg {
// 						height: 1.5em;
// 						margin: -.25em .25em 0 0;
// 						width: 1.5em;
// 					}
// 				}
// 				p {
// 					font-size: .875rem;
// 				}
// 			}
// 			> input.visuallyhidden + span {
// 				strong {
// 					padding-left: 0;
// 				}
// 			}
// 			input {
// 				left: $unitPadding*2;
// 				position: absolute;
// 				top: $unitPadding*1.75;
// 				z-index: $actionLayer;
// 				&:checked + span {
// 					background: $lightGreen;
// 				}
// 			}
// 			&:hover,
// 			&:focus,
// 			&:active {
// 				> span {
// 					box-shadow: 0 2px 4px $midGrey;
// 				}
// 			}
// 		}
// 	}
	.checkbox {
		font-weight: bold;
		input {
			margin-right: $unitPadding;
		}
	}
	.search_form {
		input:only-of-type {
			flex: 1 0 auto;
			margin-right: $unitPadding;
		}
		button {
			flex: 0 0 auto;
		}
	}
	.search_filters {
		padding-bottom: $unitPadding*4;
		fieldset {
			> div {
				padding-bottom: $unitPadding*2;
				&.flex {
					div {
						padding-bottom: 0;
					}
					button {
						margin: $unitPadding 0;
					}
				}
			}
		}
		h2 {
			border-bottom: 0 none;
			padding-bottom: $unitPadding;
		}
		.form-search,
		form fieldset {
			display: flex;
			flex-wrap: wrap;
		}
		.form-group {
			display: flex;
			label {
				font-weight: bold;
				height: 1.5rem;
				white-space: nowrap;
			}
			&:not(.range) {
				flex-direction: column;
				padding-right: $unitPadding*3;
			}
			&.range {
				label {
					padding: 0;
				}
				> label:not([for]) {
					display: none;
				}
				.form-group {
					padding-right: 0;
				}
				&.number,
				&.date {
					width: calc( 18em + 20px );
					input[type="text"],
					input[type="date"] {
						width: 9em;
					}
				}
			}
			.checkbox {
				min-height: 2.5rem;
			}
		}
		button {
			margin-top: 25px;
		}
		.collapse_content:last-child {
			border-bottom: 1px dashed $fadedGrey;
		}
	}
	.main_content .local-navigation:first-child + .search_filters {
		padding-top: $unitPadding*3;
	}
	.icon_choice {
		div.flex {
			align-items: center;
			padding: $unitPadding 0;
		}
		h6 {
			font-weight: bold;
			padding: $unitPadding $unitPadding*2 $unitPadding 0;
			width: auto;
		}
		label {
			padding: 0;
			width: auto;
			> span {
				background: $white;
				border: 1px solid $lightGreen;
				border-width: 1px 0 1px 1px;
				display: inline-block;
				font-size: .875rem;
				line-height: 1.25rem;
				padding: $unitPadding $unitPadding*2;
				white-space: nowrap;
				svg {
					pointer-events: none;
					vertical-align: middle;
				}
			}
			&:last-child > span {
				border-right-width: 1px;
			}
			input:checked + span {
				background: $black;
				border-color: $black;
				color: $white;
				svg {
					fill: $white;
				}
			}
			input:not(:checked) + span {
				cursor: pointer;
				&:hover,
				&:focus,
				&:active {
					box-shadow: 0 2px 4px $midGrey;
					outline: none;
				}
			}
		}
	}
	.form-row {
		padding-bottom: $unitPadding;
		.form-group {
			input[type="text"],
			select,
			textarea {
				width: 100%;
			}
			label,
			span.label {
				display: block;
				padding-top: $unitPadding*3;
			}

		}
		&:not(.single_col) {
			align-items: flex-start;
			display: flex;
			justify-content: flex-start;
		}
	}
	.form-group {
		.help-block,
		.form-text {
			color: $darkGrey;
			display: inline-block;
			font-size: .75rem;
			padding-top: 2px;
		}
		p {
			font-size: .875rem;
			&:not(.help-block),
			&:not(.form-text) {
				min-height: 2.5rem;
				padding: $unitPadding*2 0;
			}
		}
		.panel-default {
			border-bottom: 1px dashed $fadedGrey;
			border-top: 1px dashed $fadedGrey;
			margin-top: $unitPadding;
			padding-bottom: $unitPadding;
			.panel-heading {
				font-size: 1rem;
			}
		}
		input[type="text"],
		input[type="password"],
		input[type="number"],
		input[type="date"],
		input[type="range"],
		input[type="search"],
		select,
		textarea {
			width: 100%;
		}
		.computed,
		.source,
		.linked {
			background: $midGrey;
			border-radius: 4px;
			display: inline-block;
			padding: 4px;
			+ input[type="text"],
			+ input[type="password"],
			+ input[type="number"],
			+ input[type="date"],
			+ input[type="range"],
			+ input[type="search"],
			+ select,
			+ textarea {
				margin-left: 4px;
				width: calc( 100% - 40px );
			}
			svg {
				fill: $white;
				height: $midIconSize;
				vertical-align: -($unitPadding);
				width: $midIconSize;
			}
		}
		.computed {
			background: $funcCaution;
			+ input[type="text"],
			+ input[type="password"],
			+ input[type="number"],
			+ input[type="date"],
			+ input[type="range"],
			+ input[type="search"],
			+ select,
			+ textarea {
				border-bottom-color: $funcCaution;
			}
		}
		.source {
			background: $funcPositive;
			+ input[type="text"],
			+ input[type="password"],
			+ input[type="number"],
			+ input[type="date"],
			+ input[type="range"],
			+ input[type="search"],
			+ select,
			+ textarea {
				border-bottom-color: $funcPositive;
			}
		}
		.erasable {
			position: relative;
			input {
				padding-right: 40px;
			}
			.btn.erase {
				margin: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
		&.has-error {
			label,
			.help-block {
				color: $funcNegative;
			}
			.help-block svg {
				fill: $funcNegative;
				display: inline-block;
				height: 1.25em;
				margin-right: 2px;
				vertical-align: text-top;
				width: 1.25em;
			}
			input[type="text"],
			input[type="password"],
			input[type="number"],
			input[type="date"],
			input[type="search"],
			select,
			textarea {
				border-bottom-color: $funcNegative;
				outline: 0 none;
			}
		}
		&.range {
			display: flex;
			> div.alert {
				width: 100%;
			}
			> div {
				margin-right: $unitPadding*3;
			}
			&.number,
			&.date {
				width: calc( 18em + 20px );
				input[type="text"],
				input[type="date"] {
					width: 9em;
				}
			}
		}
		&.date {
			label {
				width: 100%;
			}
		}
		.checkbox {
			align-items: center;
			display: flex;
		}
		.radio,
		.radio-inline {
			display: inline-block;
			padding-right: $unitPadding*2;
		}
		.checkbox,
		.radio {
			~ .help-block {
				padding: 0 0 $unitPadding*2 1.75em;
				+ .help-block {
					margin-top: -( $unitPadding );
				}
			}
		}
		> button {
			margin: 0 $unitPadding $unitPadding 0;
		}
		.panel-heading:not(:empty) {
			font-weight: bold;
			height: 2.5rem;
			padding-top: $unitPadding*3;
			white-space: nowrap;
		}
		.panel-footer {
			padding-top: $unitPadding;
			.deform-seq-add {
				padding: $unitPadding;
				&::before {
					content: "+ ";
				}
			}
		}
		.btn.deform-seq-add small {
			font-weight: bold;
		}
		.deform-seq {
			counter-reset: sequenceCount;
			.panel-default {
				border-top: 0 none;
				padding-bottom: $unitPadding*2;
			}
		}
		.deform-seq-item {
			background: $white;
			border: 1px dashed $midFadedGrey;
			display: flex;
			justify-content: space-between;
			margin: 0 0 $unitPadding*2;
			padding: $unitPadding*2;
			&.form-group {
				padding: $unitPadding*2;
			}
			> div:first-child {
				width: calc( 100% - 48px );
				.select2-container {
					max-width: 100%;
					min-width: 100%;
				}
			}
			> div:nth-child(2) {
				white-space: nowrap;
				width: 32px;
			}
			&:only-of-type {
				> div:first-child {
					width: 100%;
				}
				> div:nth-child(2) {
					display: none;
				}
			}
			&:not(:only-of-type) {
				> div:first-child .select2-selection__clear {
					display: none;
				}
			}
			label {
				padding-top: $unitPadding;
			}
			.item-default {
				padding: $unitPadding*2 0 0;
			}
			.form-group {
				padding-bottom: $unitPadding*2;
				~ .form-group {
					padding-top: $unitPadding*3;
				}
			}
			.row {
				.form-group ~ .form-group {
					padding-top: 0;
				}
				&:last-child {
					padding-bottom: 0;
				}
			}
			.deform-close-button,
			.deform-order-button {
				cursor: pointer;
				display: inline-block;
				font-size: 1.25rem;
				line-height: 2.5rem;
				text-align: center;
				width: 32px;
				&:hover,
				&:focus,
				&:active {
					color: $lightGreen;
					text-decoration: none;
				}
			}
			.deform-order-button::after {
				content: "\2195";
			}
		}
		.deform-seq-container .deform-seq-item {
			&:not(:only-of-type):hover,
			&:not(:only-of-type):focus {
				border-color: $midBlue;
				border-style: solid;
				box-shadow: 0 0 5px $lightGrey;
			}
		}
		.ui-sortable .deform-seq-item {
			counter-increment: sequenceCount;
			padding: $unitPadding*2 $unitPadding*2 0 3em;
			position: relative;
			&:not(:only-of-type)::after {
				background: $veryFadedGrey;
				content: counter(sequenceCount);
				left: 0;
				line-height: 2em;	
				position: absolute;
				text-align: center;
				top: 0;
				width: 2em;	
			}
			> div:first-child {
				width: calc( 100% - 80px );
			}
			> div:nth-child(2) {
				width: 64px;
			}
		}
		&[class*=" Bool"].mapping_item,
		&[class*=" Bool"].grid_mapping_item,
		&.item-sage_facturation_not_used, // admin Module Ventes, Configuration comptable du module Vente, Configuration des informations générales et des modules prédéfinis 
		&.item-sage_contribution,
		&.item-sage_rginterne,
		&.item-sage_rgclient,
		&.item-ungroup_expenses_ndf { // admin  Module Notes de dépenses, Export comptable des notes de dépenses 
			align-items: flex-start;
			display: flex;
			flex-wrap: wrap;
			padding-top: .25rem;
			.checkbox {
				order: 0;
				flex: 0 0 2rem;
			}
			label {
				order: 1;
				padding-top: .25rem;
				flex: 1 0 calc( 100% - 2rem );
			}
			.help-block,
			.form-text {
				flex: 1 0 auto;
				order: 2;
				padding: .25rem 0 $unitPadding*2;
				width: 100%;
			}
		}
		&.item-treasury_measure_ui { // admin compta interface entrepreneur
			.radio {
				padding: 2px 0;
				width: 100%;
				label[for] {
					font-weight: normal;
				}
			}
		}
		&.item-timeslot { // rendez-vous tranches horaires
			.panel-body {
				display: flex;
				flex-wrap: wrap;
				.item-name {
					width: 100%;
				}
				.item-start_time {
					padding-right: $unitPadding*2;
					width: 50%;
				}
				.item-end_time {
					width: 50%;
				}
			}
		}
	}
	.field-display_details .form-group { // modifier une étude de prix - checkHere
		display: flex;
		flex-wrap: wrap;
		.checkbox {
			order: 0;
			width: 1.75rem;
		}
		label {
			order: 1;
			width: calc( 100% - 1.75rem );
		}
		.help-block,
		.form-text {
			flex: 1 0 auto;
			order: 2;
			width: 100%;
		}
	}
	.form-group:target,
	div:target > .form-group {
		animation: targetFade 3s ease-out 1 both;
		box-shadow: 0 0 4px $lightBlue;
	}
	.deformFormFieldset {
		p.section.first {
			padding-bottom: $unitPadding*2;
		}
		.form-group {
			padding-bottom: $unitPadding*4;
			width: 100%;
			&[class*="item-start"],
			&[class*="item-end"] {
				width: calc( 50% - 15px );
			}
		}
		&.range {
			display: flex;
			flex-wrap: wrap;
// pas assez sélectif voir formulaire création client.
			.form-group {
				&[class*="item-start"],
				&[class*="item-end"] {
					width: 50%;
				}
				&[class*="item-start"] {
					padding-right: 15px;
				}
			}
		}
		.panel-heading {
			font-size: 1.25rem;
			font-weight: bold;
			padding-bottom: .5rem;
		}
	}

// hide datalist in safari when it’s not supported
// 	datalist {
// 		display: none;
// 		select {
// 			border: none;
// 			margin: 0;
// 			width: 100%;
// 		}
// 	}
	fieldset div[class*="field-modality_"] { // ajout catalogue produit type formation  - checkHere
		.form-group {
			display: flex;
			flex-wrap: wrap;
			.checkbox {
				order: 0;
				width: 1.75rem;
			}
			label {
				order: 1;
				width: calc( 100% - 1.75rem );
			}
			.help-block {
				flex: 1 0 auto;
				order: 2;
				width: 100%;
			}
		}
	}
	fieldset div.field-modality_one {
		padding-bottom: 0;
	}
	.limited_width {
		label,
		input[type="text"]:not(.coef):not(.price):not(.with_unit),
		input[type="password"],
		input[type="number"],
		input[type="date"],
		input[type="range"],
		input[type="search"],
		select,
		textarea,
		table,
		.help-block {
			width: 100%;
		}
		input[type="text"].coef {
			width: 5em;
		}
	}
	.editable {
		justify-content: space-between;
		padding: $unitPadding $unitPadding*4 $unitPadding 0;
		button {
			align-self: flex-start;
			margin: 0 0 0 $unitPadding*2;
		}
	}
	div[class*="_cols"] .editable:not(:only-child) {
		margin-bottom: $unitPadding*4;
		position: relative;
		&::after {
			border-bottom: 1px solid $fadedGrey;
			bottom: 0;
			content: "";
			left: $unitPadding*2;
			display: block;
			position: absolute;
			right: $unitPadding*2;
		}
	}
	div.two_cols .editable {
		&:nth-child(2n+1)::after {
			left: 0;
		}
		&:nth-child(2n)::after {
			right: 0;
		}
	}
	div.three_cols .editable {
		&:nth-child(3n+1)::after {
			left: 0;
		}
		&:nth-child(3n)::after {
			right: 0;
		}
	}
	div.four_cols .editable {
		&:nth-child(4n)::after {
			right: 0;
		}
		&:nth-child(4n+1)::after {
			left: 0;
		}
	}
	.item-attendances {
		.deform-seq-container .panel-body {
			display: flex;
			line-height: 2;
			padding-top: $unitPadding*2;
			.item-username {
				width: 18em;
			}
			.control-label {
				display: none;
			}
		}
	}
	&[class*="/export"] { // admin export screens
		.tab-content form {
			.deformFormFieldset {
				display: flex;
				flex-wrap: wrap;
				div.alert {
					flex: 1 0 100%;
				}
			}
			.item-financial_year,
			.item-sheet_id {
				width: 100%;
				label {
					width: 100%;
				}
				.help-block {
					width: 100%;
				}
			}
			*[class*="item-start"],
			*[class*="item-end"] {
				label {
					width: 100%;
				}
			}
			*[class*="item-year"],
			*[class*="item-month"] {
				width: 10em;
				label {
					width: 100%;
				}
			}
		}
	}
}
@-webkit-keyframes targetFade {
	0% {
		box-shadow: 0 0 4px $lightBlue;
	}
	100% {
		box-shadow: none;
	}
}
@keyframes targetFade {
	0% {
		box-shadow: 0 0 4px $lightBlue;
	}
	100% {
		box-shadow: none;
	}
}
@supports( appearance: none ) or ( -webkit-appearance: none ) {
	body.endi select:not([multiple]) {
		background: $white url("../icons/chevron-select.svg") no-repeat 100% 52%;
		background-size: 16px 12px;
		appearance: none;
		-webkit-appearance: none;
		padding-right: 20px;
		&:not(:disabled):hover,
		&:not(:disabled):focus {
			background-image: url("../icons/chevron-select-active.svg");
			cursor: pointer;
		}
	}
}
@media ( min-width: $tabletWidth ) {
	body.endi .one_line {
		label {
			max-width: 33%;
			&.textarea_label {
				vertical-align: baseline;
			}
		}
		input[type="text"],
		input[type="password"],
		input[type="search"],
		select,
		textarea {
			width: calc( 100% - 34% );
		}
// 		input[type="text"].with_unit,
// 		input[type="number"].with_unit {
// 			max-width: calc( 100% - 34% - 20px );
// 		}
	}
}
@media ( min-width: $mobileWidth ) {
	body.endi .one_line {
		.deformFormFieldset {
			display: flex;
			flex-wrap: wrap;
			.form-group {
				width: auto;
			}
			> div {
				padding: $unitPadding 0;
			}
			label,
			input[type="text"] {
				margin-right: $unitPadding;
			}
			button {
				margin-left: $unitPadding*2;
			}
		}
	}
// 	body.endi fieldset .flex {
// 		&.two_cols > div:nth-last-child(1),
// 		&.two_cols > div:nth-last-child(2),
// 		&.three_cols > div:nth-last-child(1),
// 		&.three_cols > div:nth-last-child(2),
// 		&.three_cols > div:nth-last-child(3) {
// 			padding-bottom: $unitPadding*2;
// 		}
// 	}
// 	body.endi fieldset > div:not(.flex) {
// 		padding-bottom: $unitPadding*2;
// 	}
}
@media ( max-width: $tabletWidth ) {
	body.endi {
		a.btn,
		button {
			padding: 8px $unitPadding*2;
			&.btn-primary {
				padding: 8px $unitPadding*3;
			}
			&.icon_only_tablet {
				overflow: hidden;
				white-space: nowrap;
				width: 36px;
				&.btn-primary {
					width: 46px;
				}
				svg {
					margin: 0 $unitPadding*2 0 -1px;
				}
			}
		}
		.separate_block.border_left_block {
			h2.collapse_title {
				~ div {
					padding-left: $unitPadding*3;
				}
			}
		}
		div.four_cols .editable {
			&:nth-child(2n)::after {
				right: 0;
			}
		}
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi {
		.form-row {
			flex-wrap: wrap;
			max-width: calc( 100vw - 40px );
// 			.form-group {
// 			}
		}
		a.btn,
		button {
			padding: 8px $unitPadding*2;
			&.btn-primary {
				padding: 8px $unitPadding*3;
			}
			&.icon_only_mobile {
				overflow: hidden;
				white-space: nowrap;
				width: 36px;
				&.btn-primary {
					width: 46px;
				}
				svg {
					margin: 0 $unitPadding*2 0 -1px;
				}
			}
		}
// 		.search_filters {
// 			.collapse_content {
// 				> div.collapse:not([style]) {
// 					height: 0;
// 				}
// 			}
// 		}
		.form-group {
			&.item-timeslot { // rendez-vous tranches horaires
				.panel-body {
					.item-start_time {
						padding-right: 0;
						width: 100%;
					}
					.item-end_time {
						width: 100%;
					}
				}
			}
		}
	}
// 	body.endi fieldset .flex {
// 		> div {
// 			padding-bottom: $unitPadding*6;
// 			padding-left: 0;
// 			padding-right: 0;
// 		}
// 	}
// 	body.endi fieldset {
// 		> div:not(.flex) {
// 			padding-bottom: $unitPadding*6;
// 		}
// 	}
// 	body.endi form {
// 		legend,
// 		h2 {
// 			&.collapse_title,
// 			&.title {
// 				~ div {
// 					padding-left: $unitPadding*4;
// 				}
// 			}
// 		}
// 		.entities_choice {
// 			li.options {
// 				flex-direction: row;
// 				min-width: 0;
// 				width: 100%;
// 				label {
// 					height: auto;
// 				}
// 				label + label span {
// 					border-left-width: 1px;
// 					border-top-width: 0;
// 				}
// 			}
// 		}
// 		.icon_choice {
// 			h6,
// 			label,
// 			label span {
// 				width: 100%;
// 			}
// 			label span {
// 				border-width: 1px;
// 			}
// 		}
// 	}
}
body.endi.theme_manage_people {
	.icon_choice label input:checked + span {
		background: $darkBlue;
		border-color: $darkBlue;
	}
	.title {
		color: $darkBlue;
	}
	fieldset {
		&.border {
			border-color: $darkBlue;
		}
	}
}
body.endi.theme_manage_entity {
	.icon_choice label input:checked + span {
		background: $veryLightBlue;
		border-color: $veryLightBlue;
		color: $black;
		svg {
			fill: $black;
		}
	}
	.title {
		color: $darkBlue;
	}
	fieldset {
		&.border {
			border-color: $veryLightBlue;
		}
	}
}
@media print { // styles used when printing pages
	body.endi form {
		.search_filters {
			.collapse_title[aria-expanded="false"] {
				display: none;
			}
		}
	}
}