// data display : progress, gauges and pie charts

body.endi {
	.progress_indicator {
		padding: 16px 0;
		position: relative;
	}
	progress {
		background: $veryFadedGrey;
		border: 0 none;
		color: $darkGrey;
		display: block;
		height: 16px;
		width: 100%;
	}
	progress:not([value]) {
		animation: en_move 2s linear infinite;
		background-image: linear-gradient(-45deg, $midFadedGrey 25%, $lightGrey 25%, $lightGrey 50%, $midFadedGrey 50%, $midFadedGrey 75%, $lightGrey 75%, $lightGrey 100% );
		background-size: 24px 24px;
		color: $midFadedGrey;
	}
	progress::-moz-progress-bar {
		background: $darkGrey;
	}
	progress.target {
		color: $transGrey;
	}
	progress.target::-moz-progress-bar {
		background: $transGrey;
	}
	progress.positive {
		color: $funcPositive;
	}
	progress.positive::-moz-progress-bar {
		background: $funcPositive;
	}
	progress.negative {
		color: $funcNegative;
	}
	progress.negative::-moz-progress-bar {
		background: $funcNegative;
	}
	progress.caution {
		color: $funcCaution;
	}
	progress.caution::-moz-progress-bar {
		background: $funcCaution;
	}
	progress:not([value])::-moz-progress-bar {
		background: transparent;
	}
	progress::-webkit-progress-bar {
		background: transparent;
	}
	progress::-webkit-progress-value {
		background: $darkGrey;
	}
	progress.target::-webkit-progress-value {
		background: $transGrey;
	}
	progress.error::-webkit-progress-value {
		background: transparent;
	}
	progress.positive::-webkit-progress-value {
		background: $funcPositive;
	}
	progress.negative::-webkit-progress-value {
		background: $funcNegative;
	}
	progress.caution::-webkit-progress-value {
		background: $funcCaution;
	}
	progress:not([value])::-webkit-progress-value {
		background: transparent;
	}
	.value_info {
		display: block;
		line-height: 16px;
		padding: 0 8px;
		white-space: nowrap;
		&.current {
			font-size: .875rem;
			font-weight: bold;
			left: 0;
			padding: 0 2px;
			position: absolute;
			text-align: right;
			top: 0;
		}
		&.target {
			font-size: .75rem;
			text-align: right;
		}
		svg {
			height: 8px;
			position: absolute;
			top: 32px;
			width: 8px;
		}
	}
	progress:not(.positive) ~ .value_info {
		&.target {
			border-right: 1px solid $fadedGrey;
			width: 100%;
			svg {
				right: -4px;
			}
		}
	}
	progress.positive ~ .value_info {
		&.target {
			border-left: 1px solid $fadedGrey;
			position: absolute;
			right: 0;
			top: 32px;
			text-align: left;
			svg {
				left: -5px;
				top: 0;
			}
		}
	}
	progress.positive[value="100"] ~ .value_info {
		&.target {
			border-left: 0 none;
			border-right: 1px solid $fadedGrey;
			position: static;
			text-align: right;
			width: 100%;
			svg {
				left: auto;
				right: -4px;
				top: auto;
			}
		}
	}
	.pie_chart {
		svg {
			background: $veryFadedGrey;
			border-radius: 50%;
			height: 100px;
			transform: rotate(-90deg);
			width: 100px;
			circle {
				fill: transparent;
				stroke-width: 32;
			}
			circle.positive1 {
				stroke: $lightGreen;
			}
			circle.positive2 {
				stroke: $funcPositive;
			}
			circle.caution {
				stroke: $funcCaution;
			}
			circle.negative {
				stroke: $funcNegative;
			}
			circle.neutral1 {
				stroke: $lightBlue;
			}
			circle.neutral2 {
				stroke: $funcNeutral;
			}
		}
	}
	.icon.legend {
		border-radius: 50%;
		display: inline-block;
		height: 1em;
		width: 1em;
		&.positive1 {
			background: $lightGreen;
		}
		&.positive2 {
			background: $funcPositive;
		}
		&.caution {
			background: $funcCaution;
		}
		&.negative {
			background: $funcNegative;
		}
		&.neutral1 {
			background: $lightBlue;
		}
		&.neutral2 {
			background: $funcNeutral;
		}
	}
}
@-webkit-keyframes en_move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 24px 24px;
	}
}
@keyframes en_move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 24px 24px;
	}
}
