// main content header

body.endi .main_header {
	background: $black;
	color: $white;
	height: 50px;
	position: relative;
	svg[class^="theme"] {
		display: none;
		fill: $white;
		height: 1rem;
		left: -.25rem;
		position: absolute;
		top: .25rem;
		width: 1rem;
		z-index: 0;
	}
// 	.breadcrumbs {
// 		font-size: .75rem;
// 		font-weight: 200;
// 		a {
// 			color: $white;
// 			text-decoration: none;
// 			&:hover,
// 			&:focus,
// 			&:active {
// 				text-decoration: underline;
// 			}
// 		}
// 	}
	h1 {
		overflow: hidden;
		padding-top: $unitPadding;
		text-overflow: ellipsis;
		white-space: nowrap;
		.icon {
			background: $midGrey;
			border-radius: 4px;
			display: inline-block;
			height: 24px;
			padding: 4px;
			vertical-align: text-top;
			width: 24px;
			svg {
				fill: $white;
				height: 16px;
				margin: 0 !important;
				vertical-align: text-top;
				width: 16px;
			}
		}
		&.status-valid .icon,
		&.status-resulted .icon,
		&.status-paid .icon {
			background: $funcPositive;
		}
		&.status-invalid .icon {
			background: $funcNegative;
		}		
		&.status-wait .icon {
			background: $midBlue;
		}		
	}
	&.positive {
		background: $funcPositive !important;
	}
	&.negative {
		background: $funcNegative !important;
	}
	.header_content {
		overflow: hidden;
		max-width: 100%;
		> div {
			overflow: hidden;
		}
	}
	ul.tools {
		list-style-type: none;
		margin-right: 0;
		padding-top: 10px;
		li {
			margin-left: 20px;
		}
		li > button,
		li > span {
			color: $white;
			position: relative;
			svg {
				fill: $white;
				height: 32px;
				width: 32px;
			}
		}
	}
}
@media ( min-width: $desktopWidth ) {
	body.endi .main_header {
		padding: $contentVerPadding/2 $contentHorPadding;
		svg[class^="theme"] {
			height: 1.75rem;
			left: -.5rem;
			top: 1.75rem;
			width: 1.75rem;
		}
	}
}
@media ( max-width: $desktopWidth ) {
	body.endi .main_header {
		padding: $contentVerPadding/2 $contentHorPadding/2;
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi .main_header {
		padding: $contentVerPadding/2 $contentHorPadding/6 $contentVerPadding/2 $contentHorPadding*1.5;
		svg[class^="theme"] {
			position: static;
			vertical-align: text-bottom;
		}
		.breadcrumbs {
			height: 32px;
			overflow: hidden;
			padding: 0 48px;
		}
		h1 {
			overflow: hidden;
			padding-top: $contentVerPadding/2;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: calc( 100vw - 10px );
		}
		ul.tools {
			padding-top: 0;
			position: absolute;
			top: 0;
			right: 0;
			a svg {
				height: 24px;
				margin: 9px;
				width: 24px;
			}
		}
	}
}
body.endi.theme_manage_people .main_header {
	background: $darkBlue;
	svg.theme_people {
		display: inline-block;
	}
}
body.endi.theme_manage_entity .main_header {
	background: $veryLightBlue;
	color: $black;
	svg.theme_entity {
		display: inline-block;
		fill: $black;
	}
	.breadcrumbs a {
		color: $black;
	}
	ul.tools {
		li > button,
		li > span {
			svg {
				fill: $black;
			}
		}
	}
}
@media print { // styles used when printing pages
	body.endi .main_header {
		padding: 0;
		.tools {
			display: none;
		}
	}
}