// contextual help, messages

body.endi {
	.context_help {
		font-size: .875rem;
		h4 {
			padding: $unitPadding 0;
		}
		p {
			font-size: .825rem;
			padding: 5px 0;
		}
		dt {
			margin-top: $unitPadding*2;
		}
	}
	.message {
		margin-bottom: $unitPadding*2;
		padding: $unitPadding 0;
		&.success {
			svg {
				fill: $funcPositive;
			}
		}
		&.error {
			svg {
				fill: $funcNegative;
			}
		}
		&.caution {
			svg {
				fill: $funcCaution;
			}
		}
		&.neutral {
			svg {
				fill: $funcNeutral;
			}
		}
	}
	.alert {
		background: $veryFadedGrey;
		border-left: 5px solid $midGrey;
		margin: $unitPadding*2 0;
		padding: $unitPadding*4;
		position: relative;
		font-size: .875rem;
		> .icon {
			line-height: 1.5;
		}
		&.status {
			border-left-width: 0;
			text-align: center;
		}
		&.alert-info {
			background: $veryFadedGrey;
			border-left-color: $black;
			.icon:not(.status) svg {
				fill: $black;
			}
		}
		&.alert-danger {
			background: $veryFadedNegative;
			border-left-color: $funcNegative;
			.icon:not(.status) svg {
				fill: $funcNegative;
			}
		}
		&.alert-success {
			background: $veryFadedPositive;
			border-left-color: $funcPositive;
			.icon:not(.status) svg {
				fill: $funcPositive;
			}
		}
		&.alert-warning {
			background: $veryFadedCaution;
			border-left-color: $funcCaution;
			.icon:not(.status) svg {
				fill: $funcCaution;
			}
		}
		h2,
		h3,
		h4 {
			padding-bottom: $unitPadding;
		}
		ul, 
		ol {
			margin-bottom: 0;
			margin-top: 0;
		}
		ul {
			padding-top: $unitPadding;
		}
		button.close {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.border_left_block .alert {
		border-left: 0 none;
	}
	.action_feedback {
		position: relative;
		&::after {
			animation: dismiss_anim .5s ease-out 1s forwards;
			background-color: $funcNeutral;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 1.5em auto;
			border-radius: 50%;
			box-shadow: 0 2px 4px $midGrey;
			content: "";
			display: block;
			height: 3em;
			position: absolute;
			right: $unitPadding*2;
			top: $unitPadding*2;
			width: 3em;
		}
		&.success {
			&::after {
				background-color: $funcPositive;
				background-image: url("../icons/check.svg");
			}
		}
// 		&.error {
// 			&::after {
// 				background: $funcNegative;
// 			}
// 		}
// 		&.caution {
// 			&::after {
// 				background: $funcCaution;
// 			}
// 		}
// 		&.neutral {
// 			&::after {
// 				background: $funcNeutral;
// 			}
// 		}
	}
	blockquote {
		background: $veryFadedGrey;
		border-left: 5px solid $lightGrey;
		font-size: .875rem;
		margin: $unitPadding*2 $unitPadding $unitPadding*4;
		padding: $unitPadding*3 $unitPadding*4;
		footer {
			color: $darkGrey;
			font-size: .75rem;
			padding-top: $unitPadding;
			&::before {
				content: "\2014 \00A0";
			}
		}
	}
}
@media ( max-width: $wideWidth ) {
	body.endi p.help {
		padding: $unitPadding 0 $unitPadding*2;
	}
}
@media ( min-width: $tabletWidth ) {
	body.endi .context_help {
		border-left: $simpleLine dashed $fadedGrey;
	}
}
@media ( max-width: $tabletWidth ) {
	body.endi .context_help {
		border-top: $simpleLine dashed $fadedGrey;
		margin-top: $unitPadding*2;
		ul {
			display: flex;
			flex-wrap: wrap;
			li {
				min-width: 15em;
				width: 50%;
			}
		}
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi .alert {
		padding: $unitPadding*2;
	}
}
body.endi.theme_manage_people {
	.alert.alert-info {
		background: $veryFadedBlue;
		border-color: $darkBlue;
		.icon:not(.status) svg {
			fill: $darkBlue;
		}
	}
}
body.endi.theme_manage_entity {
	.alert.alert-info {
		background: $veryFadedBlue;
		border-color: $veryLightBlue;
		.icon:not(.status) svg {
			fill: $veryLightBlue;
		}
	}
}