// lists

body.endi .main_area {
	ul:not(.nav) ul {
		margin-left: $unitPadding*6;
	}
	li {
		padding-bottom: $unitPadding;
		&.clickable-row {
			cursor: pointer;
		}
	}
	ul.company_employees {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		li {
			display: inline-block;
			display: inline block;
			padding-right: $unitPadding;
		}
		.user_avatar {
			display: inline-flex;
			display: inline flex;
			vertical-align: middle;
		}
		small {
			white-space: nowrap;
		}
	}
	ul.list_count {
		counter-reset : list-counter;
		list-style-type: none;
		li {
			display: block;
			padding: $unitPadding 1rem $unitPadding 2rem;
			position: relative;
			&::before {
				background: $black;
				border-radius: 25%;
				color: $white;
				counter-increment: list-counter;
				content: counter(list-counter);
				display: inline-block;
				font-size: .75rem;
				left: 0;
				line-height: 1.25rem;
				position: absolute;
				text-align: center;
				vertical-align: baseline;
				width: 1.25rem;
			}
		}
		+ a {
			margin-top: $unitPadding;
		}
	}
	ul.no_bullets {
		list-style-type: none;
		li {
			padding-bottom: $unitPadding*2;
		}
	}
	ul.reference_links {
		font-size: .75rem;
		list-style-type: none;
		padding-top: 2px;
		li {
			padding: 0;
		}
	}
	.context_help ul {
		margin: $unitPadding;
	}
	table ul {
		list-style-position: outside;
		padding-left: $unitPadding*3;
		text-align: left;
		a {
			display: inline;
		}
	}
	table td.col_text ul {
		li:only-child {
			list-style-type: none;
			margin-left: -($unitPadding*3);
			padding: 0 2px;
		}
	}
	dl.dl-horizontal {
		dt,
		dd {
			display: block;
			float: left;
			line-height: 1.25em;
			margin-bottom: $unitPadding*.5;
		}
		dd .icon {
			margin-bottom: $unitPadding;
			margin-top: -$unitPadding;
			vertical-align: text-top;
		}
		dt:not(.horizontal) {
			clear: left;
			text-align: right;
			width: 12em;
			&::after {
				content: "\A0:";
			}
			+ dd {
				border-top: 1px solid transparent;
				margin-left: 1em;
				max-width: calc( 100% - 13em);
			}
		}
		dt.horizontal {
			margin-left: 1em;
			+ dd {
				margin-left: .5em;
			}
		}
		&::after {
			clear: left;
			content: " ";
			display: block;
		}
	}
	.main_actions dl.dl-horizontal {
		font-size: .825rem;
		dt,
		dd {
			padding-bottom: 0;
		}
	}
	.data_display {
		dl {
			margin: $unitPadding 0;
		}
		dt {
			display: inline-block;
		}
		dd {
			display: inline;
			margin-left: $unitPadding;
			&:after {
				content: "\A";
				display: block;
				line-height: .2;
				white-space: pre;
			}
		}
	}
}
@media ( min-width: $tabletWidth ) {
	body.endi .main_area {
		ul.company_employees li {
			flex: 0 0 18em;
		}
		.main_actions dl.dl-horizontal {
			padding-top: $unitPadding;
		}
	}
}
@media ( max-width: $tabletWidth ) {
	body.endi .main_area {
		ul.company_employees li {
			flex: 0 0 50%;
		}
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi .main_area {
		ul.company_employees li {
			flex: 0 0 100%;
		}
		dl.dl-horizontal {
			dt:not(.horizontal) {
				max-width: 50vw;
				+ dd {
					max-width: calc( 50vw - 1em );
				}
			}
		}
	}
}
