// main menu zone : tools, user info, entities selector, menus and footer

body.endi .base_menu {
	align-items: flex-start;
	background: $white;
	box-shadow: 0 0 10px $midGrey;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	justify-content: space-between;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	transition: margin .25s ease-out;
	z-index: $floatingLayer;
	> *:not(nav) {
		flex: 0 0 auto;
		padding: $contentVerPadding $menuHorPadding;
	}
	> nav {
		flex: 1 0 auto;
		padding: $contentVerPadding 0;
		width: 100%;
		+ nav {
			border-top: 1px dashed $fadedGrey;
			flex: 5 0 auto;
			padding-top: 0;
		}
	}
	.access_tools {
		margin-left: -400px;
		z-index: $floatingLayer;
		a {
			background: $white;
			box-shadow: 0 0 5px $lightGrey;
			display: block;
			margin-bottom: 5px;
			padding: 2px 5px;
			transition: transform .15s ease-out;
		}
		&:focus a,
		a:focus {
			transform: translate( 360px );
		}
	}
	.menu_tools {
		list-style-type: none;
		padding: 0;
		position: absolute;
		top: 5px;
		right: 5px;
		button {
			all: inherit;
			cursor: pointer;
			&:hover,
			&:focus,
			&:active {
				svg {
					fill: $lightGreen;
				}
			}
		}
		.icon svg {
			height: 24px;
			margin: 4px;
			width: 24px;
		}
	}
	header {
		width: 100%;
		> div.flex {
			align-items: center;
			display: flex;
			flex-wrap: nowrap;
			position: relative;
		}
		button {
			all: inherit;
			cursor: pointer;
			font-weight: bold;
			padding: 0 5px;
			&:hover,
			&:focus,
			&:active {
				box-shadow: none;
				transform: none;
				svg {
					fill: $lightGreen;
				}
			}
		}
		.menu_arrow {
			display: inline-block;
			margin-left: $unitPadding;
			margin-right: -( $unitPadding );
		}
		.flex + nav {
			border-bottom: 1px dashed $fadedGrey;
			display: none;
			flex: 0 0 auto;
			margin-left: -40px; // $menuHorPadding
			margin-right: -40px; // $menuHorPadding
			padding-top: $unitPadding;
			width: calc( 100% + 80px ); // $menuHorPadding*2
		}
		.flex.open {
			.menu_arrow {
				transform: rotate( 180deg );
			}
			+ nav {
				display: block;
			}
		}
	}
	.icon.theme {
		background: $veryLightGrey;
		height: 40px;
		position: absolute;
		right: 0;
		text-align: center;
		width: 40px;
		z-index: $actionLayer;
		svg {
			fill: $white;
			height: 32px;
			margin: $unitPadding;
			position: static;
			width: 32px;
		}
	}
// 	.manage_select {
// 		position: relative;
// 		width: 100%;
// 		.icon.theme {
// 			bottom: 11px;
// 			svg {
// 				margin: 4px;
// 			}
// 		}
// 		fieldset {
// 			max-width: 100%;
// 			> div {
// 				padding-bottom: 0;
// 			}
// 		}
// 		.layout.flex {
// 			input {
// 				margin-right: 4px;
// 				width: calc( 100% - 48px );
// 			}
// 		}
// 	}
	nav {
		list-style-type: none;
		width: 100%;
		li {
			display: block;
		}
		a,
		button {
			color: $black;
			&:hover,
			&:focus {
				background: $black;
				color: $white;
				svg {
					fill: $white;
				}
			}
			&:active {
				border-color: $black;
			}
		}
		a,
		li > span {
			border-left: 5px solid $white;
			display: block;
			padding: 5px 10px 5px $menuLinkPadding;
		}
		a {
			text-decoration: none;
		}
		li > div {
			padding: 0 10px 0 $menuLinkPadding;
		}
		li > select {
			font-weight: bold;
			max-width: calc( 100% - 4px );
			width: calc( 100% - 4px ) !important;
			margin: 0 2px;
			option {
				font-weight: normal;
			}
		}
		button {
			all: inherit;
			border: 0 none;
			cursor: pointer;
			line-height: 1.25rem;
			margin: 0;
			padding: 7px 10px 7px ( $menuLinkPadding + 5px );
			position: relative;
			width: 100%;
			&:hover,
			&:focus,
			&:active {
				box-shadow: none;
			}
			svg {
				&.menu_arrow {
					display: inline-block;
					margin-left: 0;
					margin-right: -( $unitPadding );
				}
				&[class*="theme"] {
					position: absolute;
					right: 0;
				}
			}
			+ ul {
				display: none;
			}
			.icon.theme {
				margin-top: -20px;
				top: 50%;
			}
			&[aria-expanded="true"] {
				svg.menu_arrow {
					transform: rotate( 180deg );
				}
				+ ul {
					display: block;
				}
			}
		}
		li li button {
			svg[class^="menu"] {
				position: static;
			}
		}
		li.current_item > a,
		li.current_item > span {
			background: $fadedGrey;
			border-color: $black;
			font-weight: bold;
		}
		li.current_item > span {
			cursor: default;
		}
		ul li.current_submenu,
		ul.single_menu li.current_menu {
			background: $black;
			border: 1px solid $black;
			border-width: 1px 0;
			a,
			span {
				border-color: $black;
			}
			a,
			button,
			span {
				color: $white;
				svg {
					fill: $white;
				}
			}
			a,
			li > span {
				padding-left: $menuLinkPadding + $unitPadding*2;
			}
			> button {
				font-weight: bold;
			}
			a:hover,
			a:focus {
				background: $white;
				border-color: $white;
				color: $black;
				text-shadow: none !important;
				svg {
					fill: $black;
				}
			}
			button:hover,
			button:focus {
				svg {
					margin-top: -2px;
				}
			}
			a:active,
			li.current_item > a,
			li.current_item > span {
				background: $veryFadedWhite;
				border-color: $white;
				text-shadow: 0 1px 0 $darkGrey;
			}
		}
	}
	nav > ul:not(.single_menu) {
		> li > button {
			font-weight: bold;
			line-height: 26px;
			svg.menu_arrow {
				left: 5px;
				margin: 5px;
				position: absolute;
			}
		}
	}
	footer {
		font-size: .625rem;
	}
}
@media ( min-height: 1001px ) {
	body.endi .base_menu {
		nav ul a {
			padding-bottom: $unitPadding*2;
			padding-top: $unitPadding*2;
		}
	}
}
@media ( min-width: $desktopWidth ) {
	body.endi .menu_tools {
		.menu_show,
		.menu_hide {
			display: none;
		}
	}
	body.endi.menu_mini {
		.base_menu {
			margin-left: -210px;
			overflow-y: hidden;
			.cae_logo,
			header,
			footer,
			nav {
				opacity: 0;
				pointer-events: none;
				transition: opacity .25s .1s ease-out;
			}
			nav {
				padding-right: 40px;
				li > div {
					padding-left: 40px;
				}
				.icon.theme {
					right: -40px;
				}
			}
		}
		.main_area {
			width: calc( 100vw - 40px ); // 250px - 210px
		}
		.menu_tools {
			.menu_size button {
				display: flex;
				height: calc( 100vh - 10px );
				position: relative;
				width: 30px;
				svg {
					left: 0;
					position: absolute;
					top: 0;
					transform: rotate(180deg);
				}
			}
		}
	}
	body.endi .base_menu {
		width: 250px;
	}
	body.endi .base_content,
	body.endi .main_area {
		width: calc( 100vw - 250px );
	}
	body.endi .main_area {
		transition: width .25s ease-out;
	}
}
@media ( min-width: $wideWidth ) {
	body.endi .base_menu {
		width: 300px;
	}
	body.endi .base_content,
	body.endi .main_area {
		width: calc( 100vw - 300px );
	}
	body.endi.menu_mini {
		.base_menu {
			margin-left: -260px;
		}
	}
}
@media ( max-width: $desktopWidth ) {
	body.endi .menu_tools {
		.menu_size,
		.menu_hide {
			display: none;
		}
	}
	body.endi .base_menu {
		margin-left: -260px;
		width: 300px;
		.cae_logo,
		header,
		footer,
		nav {
			opacity: 0;
			pointer-events: none;
			transition: opacity .25s .1s ease-out;
		}
		nav {
			padding-right: 40px;
			li > div {
				padding-left: 40px;
			}
			.icon.theme {
				right: -40px;
			}
		}
		.menu_tools {
			.menu_show {
				display: flex;
				height: calc( 100vh - 10px );
				padding-top: 2px;
				button {
					position: relative;
					width: 30px;
					svg {
						left: 0;
						position: absolute;
						top: 0;
					}
				}
			}
		}
	}
	body.endi .main_area,
	body.endi .base_content {
		width: calc( 100vw - 42px );
	}
	body.endi .base_menu:not(.open) {
		overflow-y: hidden;
	}
	body.endi .base_menu.open {
		height: 100vh;
		margin-left: 0;
		margin-right: -260px;
		z-index: $floatingMenuLayer;
		.cae_logo,
		header,
		footer,
		nav {
			opacity: 1;
			pointer-events: auto;
		}
		nav {
			padding-right: 0;
			.icon.theme {
				right: 0;
			}
		}
		.menu_hide {
			display: block;
		}
		.menu_show {
			display: none;
		}
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi {
		.base_menu {
			height: 100vh;
			position: absolute;
		}
		.main_area,
		.base_content {
			width: 100vw;
		}
		.base_menu:not(.open) {
			background: $black;
			box-shadow: none;
			height: 42px;
			overflow: hidden;
			ul.menu_tools {
				right: 10px;
				top: 2px;
				.icon svg {
					fill: $white;
					margin: 9px;
				}
			}
		}
	}
	body.endi.theme_manage_people .base_menu:not(.open) {
		background: $darkBlue;
	}
	body.endi.theme_manage_entity .base_menu:not(.open) {
		background: $veryLightBlue;
	}
}
body.endi.theme_manage_people .base_menu {
	.icon.theme {
		background: $darkBlue;
	}
	nav {
		ul {
			a:hover,
			a:focus,
			button:hover,
			button:focus {
				background: $darkBlue;
				color: $white;
			}
			a:active,
			li.current_item > a {
				border-color: $darkBlue;
			}
		}
		li.current_item > a,
		li.current_item > span {
			background: $fadedBlue;
			border-color: $darkBlue;
		}
		li.current_item > a:hover,
		li.current_item > a:focus {
			background: $darkBlue;
		}
		ul li.current_submenu,
		ul.single_menu li.current_menu {
			background: $darkBlue;
			border-color: $darkBlue;
			color: $white;
			a,
			span {
				border-color: $darkBlue;
				color: $white;
			}
			a,
			button,
			span {
				color: $white;
				svg {
					fill: $white;
				}
			}
			a:hover,
			a:focus {
				background: $white;
				border-color: $white;
				color: $black;
				svg {
					fill: $black;
				}
			}
			a:active,
			li.current_item > a,
			li.current_item > span {
				text-shadow: 0 1px 0 $darkBlue;
			}
		}
	}
}
body.endi.theme_manage_entity .base_menu {
	.icon.theme {
		background: $veryLightBlue;
		svg {
			fill: $black;
		}
	}
	nav {
		ul {
			a:hover,
			a:focus,
			button:hover,
			button:focus {
				background: $veryLightBlue;
				color: $black;
				svg {
					fill: $black;
				}
			}
			a:active,
			li.current_item > a {
				border-color: $veryLightBlue;
			}
		}
		li.current_item > a,
		li.current_item > span {
			border-color: $veryLightBlue;
		}
		ul li.current_submenu,
		ul.single_menu li.current_menu {
			background: $veryLightBlue;
			border-color: $veryLightBlue;
			color: $black;
			a,
			span {
				border-color: $veryLightBlue;
			}
			a,
			button,
			span {
				color: $black;
				svg {
					fill: $black;
				}
			}
			a:hover,
			a:focus {
				background: $white;
				border-color: $white;
				color: $black;
				svg {
					fill: $black;
				}
			}
		}
	}
}
@media print { // styles used when printing pages
	body.endi .base_menu {
		box-shadow: none;
		display: none;
	}
	body.endi .base_content {
		outline: 1px dashed $fadedGrey;
		width: 100%;
	}
}
