body.endi .expense_totals {
  background: rgba(0, 122, 177, 0.05);
  margin: 10px 0;
  padding: 5px; }
  body.endi .expense_totals > div {
    display: flex;
    justify-content: flex-start; }
    body.endi .expense_totals > div .layout.flex {
      width: 12em; }
      body.endi .expense_totals > div .layout.flex > div:nth-child(2n + 1) p {
        padding-top: 2px; }
      body.endi .expense_totals > div .layout.flex > div:nth-child(2n) p {
        text-align: right; }

body.endi .modal_view .form.expense-form .row {
  display: flex;
  flex-wrap: wrap; }

body.endi .modal_view .select label,
body.endi .modal_view .select select {
  width: 100%; }

body.endi .flex .btn-group {
  flex: 0 0 auto;
  padding-left: 5px; }

body.endi .add_km_expense > div {
  padding-bottom: 10px; }

body.endi .main_toolbar .js_actions .resume {
  align-self: center;
  flex: 1 1 auto;
  justify-content: center; }
  body.endi .main_toolbar .js_actions .resume > div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5px; }
    body.endi .main_toolbar .js_actions .resume > div label:not(.btn) {
      padding: 0 5px 0 0; }
    body.endi .main_toolbar .js_actions .resume > div .toggle-buttons {
      padding: 0; }

body.endi .main_toolbar .main_actions .more_actions {
  flex: 1 1 auto; }
  body.endi .main_toolbar .main_actions .more_actions > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 180px;
    padding: 0 2px; }
    body.endi .main_toolbar .main_actions .more_actions > div > div > label {
      display: block;
      font-size: .875rem;
      padding-bottom: 5px;
      text-align: center; }
    body.endi .main_toolbar .main_actions .more_actions > div > div > .btn,
    body.endi .main_toolbar .main_actions .more_actions > div > div > .btn-container {
      margin-right: 5px; }
    body.endi .main_toolbar .main_actions .more_actions > div > div:last-child {
      align-items: center; }
      body.endi .main_toolbar .main_actions .more_actions > div > div:last-child > label {
        display: inline;
        padding: 0 0 0 10px; }
    body.endi .main_toolbar .main_actions .more_actions > div > div:only-child .btn, body.endi .main_toolbar .main_actions .more_actions > div > div:only-child .btn-container {
      margin-right: 0; }
  body.endi .main_toolbar .main_actions .more_actions .icon_choice {
    display: inline-block;
    padding: 5px 0; }
    body.endi .main_toolbar .main_actions .more_actions .icon_choice .flex {
      min-height: 38px;
      padding: 0 5px; }
      body.endi .main_toolbar .main_actions .more_actions .icon_choice .flex label > span {
        border-width: 1px; }
      body.endi .main_toolbar .main_actions .more_actions .icon_choice .flex .btn {
        margin: 0; }

body.endi[class*="suppliers_orders"] .two_cols .totals.form-section {
  justify-content: flex-start; }

body.endi[class*="suppliers_orders"] .main_toolbar .main_actions .more_actions > div {
  justify-content: flex-end; }

@media (max-width: 1200px) {
  body.endi .main_toolbar .js_actions .resume {
    flex-basis: 15em; }
  body.endi .main_toolbar .main_actions .more_actions .icon_choice .flex label > span {
    display: block;
    overflow: hidden;
    padding: 5px 0;
    width: 32px; }
    body.endi .main_toolbar .main_actions .more_actions .icon_choice .flex label > span svg {
      margin: 0 40px 0 7px; } }

@media (max-width: 800px) {
  body.endi .main_toolbar .main_actions {
    flex-wrap: nowrap; }
    body.endi .main_toolbar .main_actions .more_actions {
      flex: 0 1 auto;
      padding: 0 5px; }
      body.endi .main_toolbar .main_actions .more_actions > div {
        justify-content: flex-start; } }

@media (max-width: 500px) {
  body.endi .totals.form-section .flex.two_cols > div {
    width: 50%; }
  body.endi .main_toolbar .main_actions .more_actions {
    flex: 0 1 auto;
    margin: 0 5px; }
    body.endi .main_toolbar .main_actions .more_actions:first-child {
      margin: 0 -2px; }
    body.endi .main_toolbar .main_actions .more_actions > div {
      justify-content: flex-start; }
    body.endi .main_toolbar .main_actions .more_actions .icon_choice .flex {
      flex-direction: row;
      min-height: 0; }
      body.endi .main_toolbar .main_actions .more_actions .icon_choice .flex label,
      body.endi .main_toolbar .main_actions .more_actions .icon_choice .flex span {
        width: auto; } }
